html,body{
	overflow-x:hidden; 
}
.dianpu_smban{
	width: 100%;
	height: 120px;
	background: url(../images/dianpu_bac.jpg) no-repeat center center;
	height: 120px;
	overflow: hidden;
}
.dianpu_nav{
	width: 100%;
	height: 40px;
	background: #ce0000;
}
.dianpu_navs{
	width: 1200px;
	margin: auto;
}
.dianpu_navs_link li{
	float: left;
	padding: 11px 20px;
	margin-right: 2px;
	cursor: pointer;
	color: #fff;
}
.dianpu_navs_link li a{
	color: #fff;
}
.dianpu_navs form{
	background: #fff;
	margin-top: 5px;
	height: 30px;
	overflow: hidden;
}
.dianpu_navs_txt{
	width: 220px;
	height: 30px;
	padding-left: 2px;
	border: none;
	outline: 0 none;
	 
}
.dianpu_navs_sub{
	width: 60px;
	height: 30px;
	border: none;
	outline: 0 none;
	color: #666;
	background: #eee;
	cursor: pointer; 
}
.dianpu_navs_link .act{
	background: #b60000;
}
.m_shangpin{
	width: 1200px;
	margin: auto;
}
.m_shangpin_like{
	width: 280px;
	height: 520px;
	float: left;
}
.m_shangpin_like li{
	overflow: hidden;
}
.m_shangpin_like li img{
	float: left;
	width: 100px;
	height: 100px;
}
.m_shangpin_like .m_shangpin_like_des{
	width: 138px;
	float: left;
}
.m_shangpin_like .m_shangpin_like_cp{
	display: block;
	*display: block;
	*zoom:1;
	height: 35px;
	color: #666;
	overflow: hidden;
	float: left;
	margin-top: 2px;
}
.m_shangpin_like .m_shangpin_like_cp:hover{
	color: red;
}
.m_shangpin_like .m_shangpin_like_shop{
	color: #e49402;
	border: 1px solid #e49402;
	border-radius: 5px;
	padding: 0 2px;	
	margin-top: 10px;
	height: 18px;
	display: block;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space:nowrap;
	float: left;
}
.guess_like{
	font-size: 14px;
	background: #fff;
	border-bottom: 1px solid #e1e1e1;
	padding: 9px 8px;
	color: #666;
}
.m_shangpin_like_font{
	width: 138px;
	float: left;
	margin-top: 5px;
}
.m_shangpin_like_font .rmb{
	font-size: 10px;
}
.m_shangpin_like_font i{
	font-style: normal;
}
.now_pri i{
	font-size: 14px;
	color: #e50012;
	font-style: normal;
}
.yuan_pri i{
	font-size: 12px;
	color: #666;
	margin-left: 5px;
	font-style: normal;
}
.yuan_pri i{
	text-decoration: line-through;
}
.dianpu_shangpin{
	width: 908px;
	font-family: arial;
}
.dianpu_shangpin_nav{
	height: 24px;
	line-height: 24px;
	padding: 9px 8px;
}
.dianpu_shangpin_nav li{
	width: 100px;
	float: left;
	color: #666;
	cursor: pointer;
}
.dianpu_shangpin img{
	width: 200px;
	height: 200px;
}
.dianpu_shangpin_news{
	width: 200px;
	padding-top: 12px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border: 1px solid transparent;
	float: left;
}
.dianpu_shangpin_news:hover{
	border: 1px solid #d5d5d5;
}
.dianpu_shangpin_pri .rmb{
	font-size: 12px;
}
.dianpu_shangpin_pri i{
	font-size: 20px;
	font-style: normal;
}
.dianpu_shangpin_pri .list_now_pri{
	color: red;
	margin-right: 10px;
}
.dianpu_shangpin_pri .list_yuan_pri{
	font-size: 12px;
	color: #666;
}
.dianpu_shangpin_pri .list_yuan_pri i{
	font-size: 12px;
	text-decoration: line-through;
}
.dianpu_shangpin_news a{
	font-size: 12px;
	color: #666;
}
.dianpu_shangpin_news a:hover{
	color: red;
}
.shangpin_fenye{
	height: 30px;
	margin-top: 50px;
	margin-bottom: 40px;
}
.shangpin_fenye .fenye_list li{
	width: 30px;
	height: 30px;
	color: #000;
	float: left;
	margin-right: 10px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	border: 1px solid #d5d5d5;
}
.shangpin_fenye .fenye_list li:hover{
	color: white;
	background: red;
}
.shangpin_fenye button{
	float: left;
	width: 66px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-left: 5px;
	border: 1px solid #d5d5d5;
	margin-right: 15px;
}
.shangpin_fenye .fenye_view .con{
	background: red;
	color: white;
}

