.love_activity{
	width: 100%;
	overflow: hidden;
	background: #ff0042;
	border-top:2px solid #e60012;
}
.love_pro{
	background: #ff0042;
	margin-bottom: 8px;
}
#pro_list{
	width: 920px;
	margin:0 auto;
}
#pro_list span,i{
	display: inline-block;
	*display: inline-block;
	*zoom:1;
}
#pro_list li{
	background: #fff;
	width: 200px;
	float:left;
	margin:8px 0 0 9px;
	padding:10px;
	position: relative;
}
#pro_list .pro_img img{
	width: 200px;
	height: 200px;
}
#pro_list .pro_info{
	padding-bottom: 12px;
	background-position: -2px;
	position: relative;
}
#pro_list .pro_price{
	padding:10px 0;
}
.price_now{
	display: inline-block;
	margin-right: 20px;
	color:#e50012;
	font-size: 20px;
}
.price_now>span{
	font-size: 12px;
	font-weight: 300;
	margin-right: 3px;
	font-family: arial;
}
.price_bef_m{
	display: inline-block;
	font-size: 12px;
	font-weight: 3px;
	margin-right: 3px;
	font-family: arial;
}
.price_bef{
	text-decoration: line-through;
}
.pro_name{
	height: 36px;
}
.pro_name a{
	color:#333;
}
.pro_name a:hover{
	color:#e30b20;
}
.pro_icon{
	height: 24px;
	margin:10px 0 0;
	padding-bottom: 10px;
	position: relative;
}
.pro_self{
	width: 30px;
	height: 16px;
	background: #f77;
	font-style: normal;
	color:white;
	margin-right: 8px;
	position: relative;
}
.self_tit,.drink_tit,.badge_tit{
	font-size: 12px;
	border:1px solid #666;
	position: absolute;
	padding:3px 5px;
	border-radius: 3px;
	display:none;
}
.self_tit{
	left:16px;
	bottom:2px;
}
.drink_tit{
	left:58px;
	bottom:2px;
}
.badge_tit{
	left:89px;
	margin-left: 10px;
	bottom:2px;
}
.pro_self:hover .self_tit{
	display:block;
}
.pro_drink{
	width: 30px;
	height: 16px;
	background: #70a6ff;
	font-style: normal;
	color:white;
	margin-right: 8px;
}
.pro_badge{
	width: 17px;
	height: 17px;
	background-image: url(../images/register/pay.png);
	background-position: -2px -3px;
	position: absolute;
	bottom:18px;
	border:0 none;
	overflow: hidden;
}
.icon_cover{
	position: absolute;
	top:-5px;
	left:180px;
}

