.shoptitle .shoplists{
	display: none;
}
.goodsList .S_min{
	width: 1200px;
	margin: 0 auto;
}
.goodsList{
	background-color: #f5f5f5;
	padding-top: 10px;
}

.goodsList .goodsHeader{
	height: 150px;
	background: #eee;
}
.goodsHeader .hotSell{
	width: 40px;
	height: 80px;
	display: inline-block;
	background-image: url(../images/goodsList/hotlogo.png);
	background-repeat:  no-repeat;
	margin: 0 20px;
	margin-top: 1px;
	font-size:  100%;
	padding: 15px 8px 0;
	

}
.hotSell a{
	width: 24px;
	display: inline-block;
	color: white;
	text-align: center;
}
.hotPic li{
	float: left;
	width: 270px;
	height: 130px;
	background-color: white;
	margin-right: 6px;
	margin-top: 8px;
}
.hotPic .left{
	width: 110px;
	height: 110px;
	margin-top: 10px;
}
.right p{
	width: 130px;
	height: 42px;
	padding-right: 3px;
}
.right .S1 a{
	color: #666;
}
.S1 a:hover{
	color: #e50012;
}
.S1{
	padding-top:10px; 
}

.S2{
	line-height: 42px;
}
.S2 a{
	color: #e49402;
	border: 1px solid #e49402;
	border-radius: 5px;
	padding: 0 2px;
}
.right .S3{
	height: 21px;
	white-space: nowrap;
	overflow: hidden;
}
.S3 span{
	font-size: 12px;
	color: #999;
}
.S3 .S3_font{
	color: #e50012;
	font-weight: bolder;
	font-size: 16px;
}
.S3 .S3_font1{
	color: #e50012;
}
.S3 .S3_font2{
	text-decoration: line-through;
}
.sort{
	font-size: 14px;
	color: #666;
	padding: 4px 0;
	margin: 10px 0 5px 0;
}
.sort .sort1{
	color: #e50012;
}
.List2{
	width: 1200px;
	/* height: 380px; */
	background-color: #eee;
	overflow: hidden;
}
.List2 li{
	width: 1200px;
	height: 46px;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
	position: relative;
	float: left;
	
}
.List2 .more{
	position: absolute;
	right: 8px;
	top: 11px;
	width: 40px;
	height: 23px;
	line-height: 23px;
	padding: 0 7px 0 4px;
	background: #fff;
	color: #333;
	border: 1px solid #ddd;
	cursor: pointer;
	margin-right: 10px;

}
.List2 .more:hover{
	color: blue;
}
.List2 .more span img{
	vertical-align: baseline;
}
.List2 a{
	font-size: 12px;
	color:  #666;
	margin: 3px 24px 4px 0;
	white-space: nowrap;
}
.List2 .price a:hover{
	color: #e50012;
}
.List2 .price_f{
	padding: 8px 0;
 	width: 80px;
 	text-align: center;
 	font-size: 14px;
 	
 }
.List2 .price{
	padding: 10px 30px 10px 20px;
	height: 46px;
	float: left;
	width: 1070px;
	background: #fff;
}
.List2 .price1{
	/* height: 191px; */
	height: 67px;
 }
 .List2 .price2{
	height: 171px;
 }
 .List2 .price1 .price2{
 	width: 1000px;
	padding-right: 100px;
 }
.gooodsPic{
	overflow: hidden;
}
.gooodsPic .picLeft{
	width: 280px;
	color: #666;
}

.picLeft_list .left{
	width: 100px;
	height: 100px;
}
.picLeft_list{
	background: #fff;
}
.picLeft_list .right{
	width: 138px;
	margin-left: 0;

}
.picLeft_list .S1 a{
	color: #666;
}
.picLeft_list .S1 a:hover{
	color: #e50012;
}
.picLeft_list .S1{
	padding-top: 0px;
}
.picLeft .S0{
	font-size: 14px;
	background: #fff;
	border-bottom: 1px solid #e1e1e1;
	padding: 9px 8px;
}
.picLeft1{
	margin-top: 8px;
}
.picLeft2{
	margin-top: 10px;
	margin-bottom: 10px;
	
}
.picRight{
	width: 914px;
	margin-top: 8px;
	margin-left: 6px;
}
.picRight_price{
	overflow: hidden;
	padding: 7px 0;
	background-color: #fff;
}
.picRight_price li{
	color: #e50012;
	float: left;
	padding: 3px 22px;
	height: 18px;
	text-align: center;
	border-right: 1px solid #e5e5e5;
}
.picRight_price .picRight_price2{
	padding-right: 44px;
	color: #666;
	background:url(../images/goodsList/img_sort.png) no-repeat 55px center;


}
.picRight p{
	padding: 7px 0;
	background: #fafafa;
	border-top: 1px solid #eee;
	
}
.picRight p a img{
	background-repeat: no-repeat;
	margin-top: -1px;
	margin-left: 22px;
	margin-right: 6px;

}

.Sbox ul li{
	float: left;
	width: 197px;
	color: #666;
	background: #fff;
	margin: 8px 0 0 9px;
	padding: 10px;
	border: 1px solid #fff;
	position: relative;
}
.Sbox ul li:hover{
	box-shadow: 3px 3px 3px #d8d8d8, -1px -1px 2px #d8d8d8;
}
.box2 p {
	background-color: #fff;
	border: none;
}
.box2 p a{
	color: #666;
}
.box2 p a:hover{
	color: #e50012;
}
.box2 p .box2_f{
	color: #e50012;
	margin-right: 5px;
}
.box2 p .box2_f .box2_f0{
	font-size: 20px;
}
.box2 p .box2_f1{
	text-decoration: line-through;
}
.box3{
	position: absolute;
	top: -2px;
	right: -2px;

}
.paging{
	margin-left: 708px;
	height: 60px;
	margin-top: 50px;
}
.view{
	width: 388px;
	overflow: hidden;
}
.view{
	position: relative;
}
.first{
	position: absolute;
	top: 0;
	left: 52px;
	display: none;
}
.last2{
	position: absolute;
	top: 1px;
	right: 11px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	background: #fff;
	text-align: center;
	cursor: pointer;
}
.last2:hover{
	color: #e30b20;
}
.last{
	position: absolute;
	top: 0;
	right: 52px;
}
.first2{
	position: absolute;
	top: 1px;
	left: 11px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	background: #fff;
	text-align: center;
	cursor: pointer;
}
.first,.last{
	
	width: 32px;
	height: 32px;
	line-height: 30px;
    text-align: center;
    background-color: white;
    cursor: pointer;
}
.pro,.next{
	width: 50px;
	height: 30px;
	border: 1px solid #d2d2d2;
	line-height: 30px;
    text-align: center;
    cursor: pointer;

}
.pro:hover{
	color: #e30b20;
}
.next:hover{
	color: #e30b20;
}
.pageList{
	width: 2058px;
}
.pageList li{
	width: 30px;
	height: 30px;
	line-height: 30px;
	background: #fff;
	float: left;
	margin-left: 10px;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
	color: #666;
	border: 1px solid #d2d2d2;
	border-radius: 2px;
}
.pageList li:hover{
	color: #e30b20;
}



.list-item{
	position: relative;
    height: 22px;
    line-height: 22px;
    border: 1px solid #DDD;
    font-size: 12px;
    vertical-align: top;
    margin: 0 5px 0px 0;
    padding: 0 26px 0 4px;
    margin-left: 10px;
    cursor: pointer;
    background: #f3f3f3;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.list-item em{
	font-style: normal;
    color: #666;
}
.list-item span{
	position: absolute;
    width: 25px;
    height: 22px;
    right: 0;
    top: 0;
    background: url(../images/goodsList/search.ele.png) no-repeat 7px -140px;
}
.list-item:hover {border-color: #e4393c;text-decoration: none;background: #fff}
.list-item:hover span {background-color: #e4393c;background-position: 7px -158px}
.list-item:hover em {color:#e4393c;}