.wrapper{
	width: 1200px;
	margin: 0 auto;
}
/* header*/
.header{
	width: 100%;
	height: 29px;
	color: #777;
	background: #fbfbfb;
	font: normal 12px/29px "Microsoft YaHei";
	border-bottom: 1px solid #cecfd2;
}
.header .wrapper{
	position: relative;
	z-index: 1;
}
.header .lt_part{
	margin-right: 70px;
}
.header .lt_part div{
	margin-right: 10px;
	float: left;	
}
.header a{
	color: #777;
}
.header a:hover{
	color: #e60012;
}
.header .rt_part div{
	padding: 0 22px 0 10px;
	float: left;
	position: relative;
}
.header span{
	position: absolute;
}
.header .icon{
	background: #fff;
	margin-right: 4px;
	border-left: 1px solid #fbfbfb;
	border-right: 1px solid #fbfbfb;
	position: relative;
}
.header .icon a{
	display: block;
}
.header .icon2 .my_form{
	background: #fff;
	border: 1px solid #777;
	border-top: 0 none;
	position: absolute;
	top: 29px;
	left: -1px;
	display: none;
}
.header .icon1 .hy_center{
	background: #fff;
	border: 1px solid #777;
	border-top: 0 none;
	position: absolute;
	top: 29px;
	left: -1px;
	display: none;
}
.header .icon:hover{
	border:1px solid #777;
	border-top: none;
	border-bottom: none;
}
.header .icon1:hover .hy_center{
	display: block;
}
.header .icon2:hover .my_form{
	display: block;
}
.header .icon span{
	width: 6px;
	height: 6px;
	background: url(../images/yxgj/sprite_index.png) no-repeat -16px 0;
	top: 13px;
	right: 6px;
}
/* .header .hy_center,.header .my_form{
	position: absolute;
	top: 29px;
	left: 543px;
	z-index: 1;
	background: #fbfbfb;
	padding: 0 22px 0 10px;
	
	/* display: none; */

.header .hy_center a,.header .my_form a{
	width: 48px;
	display: block;
} 
.header .my_form{
	left: 629px;
}
.header .rt_part .shop_car{
	padding: 0 10px 0 22px;
}
.header .shop_car span{
	width: 25px;
	height: 25px;
	background: url(../images/yxgj/icon-topbar.png) no-repeat 0 3px;
	top: 0;
	left: -5px;
}
.header .Qtalk a{
	width: 92px;
	height: 29px;
	background: url(../images/yxgj/Qtalk.png) no-repeat 0 4px;
	display: block;
}
.header .talk_style{
	width: 423px;
	height: 292px;
	background: #fff;
	border:1px solid #d4d4d4;
	padding: 0 20px;
	position: fixed;
	top: 50%;
	left: 50%;
	position: fixed;
	margin-left: -232.5px;
	margin-top: -147px;
	display: none;
}
.header .talk_style .close{
	width: 47px;
	height: 25px;
	background: url(../images/yxgj/SelectPanel-sprites.png) no-repeat;
	position:absolute;
	top: 0;
	right: 0;
}
.header .talk_style p{
	color: #141414;
	padding-top: 23px;
	font-size: 16px;
	margin-bottom: 42px;
}
.header .talk_style .talk_st{
	width: 80px;
	height: 89px;
	padding-left: 6px;
	padding-top: 3px;
	background: url(../images/yxgj/SelectPanel-sprites.png) no-repeat 0 -83px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-left: 80px;
}
.header .talk_st:hover{
	background-position: -88px -83px;
}
.header .talk_st a{
	width: 76px;
	height: 76px;
	background: url(../images/yxgj/SelectPanel-sprites.png) no-repeat;
	display: block;
}
.header .talk_st p{
	color: #00a2e6;
	font-size: 12px;
	text-align: center;
}
.header .talk_st .qq_talk{
	background-position: -53px 0;
}
.header .talk_st .else_talk{
	background-position: -131px 0;
}
.header .talk_style .close:hover{
	background-position: 0 -25px;
}
.header .talk_style .link{
	position: absolute;
	bottom: 10px;
	right: 15px;
}
.header .serve_num span{
	width: 130px;
	color: #e60012;
	font:bold 18px/29px "Microsoft YaHei";
	margin-left: 2px;
	top: 0;
	left: 62px;
}

/* navbar*/
.navbar{
	margin-bottom: 30px;
}
.navbar .nav_ad{
	position: relative;	
}
.navbar .nav_ad img{
	width: 1200px;
	height: 100px;
}
.navbar .nav_ad span{
	width: 13px;
	height: 13px;
	background: url(../images/yxgj/sprite_index.png) no-repeat 0 0;
	position: absolute;
	top: 10px;
	right: 10px;
}
.navbar .nav_search{
	margin-top: 35px;
}
.navbar h1{
	margin-right: 180px;
}
.navbar h1 a{
	width: 203px;
	height: 72px;
	text-indent: -9999px;
	float: left;
	background: url(../images/yxgj/logo.jpg);
}
.navbar .search{
	width: 504px;
	padding-top: 7px;
	position: relative;
}
.navbar .search input{
	color: #666;
	width: 490px;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	border:2px solid #e60012;
}
.navbar .search .btn{
	width: 76px;
	height: 42px;
	color: #fff;
	font:16px/32px "微软雅黑";
	text-align: center;
	background: #e60012;
	padding: 0;
	position: absolute;
	top: 9px;
	right: 0;
	cursor: pointer;
}
.navbar .search ul{
	padding-top: 8px;
	overflow: hidden;
}
.navbar .search li{
	float: left;
	padding:0 10px;
	border-right: 1px solid #777;
	line-height: 12px;
	cursor: pointer;
}
.navbar .search li:hover{
	color:#e60012;
}
.navbar .search .active{
	color: #e60012;
}
/* navList */
.navList{
	width: 100%;
	background: #071724;
}
.navList .wrapper{
	position: relative;
	z-index: 1;
}
.navList .wrapper .nav_title div,.navList .wrapper .nav_title a{
	float: left;
	color: #fff;
	font: 14px/38px "微软雅黑";
}
.navList .nav_title div{
	padding: 0 18px;
}
.navList .wrapper .tit:hover{
	background:#c1a25f;
}
.navList .wrapper .all_list{
	padding: 0 90px 0 36px;
	background: #c1a25f;
	position: relative;
	font-weight: bold;
}
.navList .all_list span{
	width: 17px;
	height: 16px;
	color: #fff;
	background: url(../images/yxgj/sprite_index.png);
	background-position:-24px 0;
	position: absolute;
	top: 11px;
	left: 10px;
}
.navList .lt_list{
	width: 210px;
	height: 426px;
	color: #666;
	background:#fff;
	position: absolute;
	top: 38px;
	left: 0;
	z-index: 100;
}
.navList .lt_list li{
	width: 192px;
	background: #fff;
	padding-left: 14px;
	padding-bottom: 9px;
	border:2px solid #fff;
	position: relative;

}
.navList .lt_list li:hover{
	border:2px solid #c1a25f;
	border-right:2px solid #fff;
}
.navList .lt_list h5{
	position: relative;
}
.navList .lt_list h5 a{
	font:bold 14px/34px "微软雅黑";
}
.navList .lt_list h5 span{
	width: 4px;
	height: 6px;
	background: url(../images/yxgj/sprite_index.png);
	background-position: -42px 0;
	position: absolute;
	top: 11px;
	right:15px;
}
.navList .lt_list a{
	color: #666;
	margin-right:5px;
}
.navList .lt_list div a{
	font:12px "微软雅黑";
}
.navList .lt_list a:hover{
	text-decoration: underline;
}
.navList .detail_item{
	width: 990px;
	position: relative;
	left: 208px;
	z-index: 0;
}
.navList .detail_item .item{
	background: #fff;
	font: normal 14px/42px "微软雅黑";
	border:2px solid #c1a25f;
	position: absolute;
	left:2px;
	display: none;
}
.navList .detail_item .lt_part li{
	width: 255px;
	padding:0 10px;
	border-bottom: 1px dotted #82665a;
	overflow: hidden;
}
.navList .detail_item h6{
	width: 85px;
	font:normal 14px/45px "微软雅黑";
	float: left;
}
.navList .detail_item .lt_part div{
	width: 150px;
	float: left;
}
.navList .detail_item .lt_part div a{
	font:12px/20px "微软雅黑";
	margin-right: 5px;
	display: inline-block;
	*display: inline;
	*zoom:1;
}
.navList .detail_item a{
	color: #666;
}
.navList .detail_item a:hover{
	text-decoration: underline;
}
.navList .detail_item .rt_part{
	width: 255px;
	padding:0 10px;
	background: #ececec;
}
.navList .detail_item .rt_part li{
	padding: 0 5px;
	border-bottom: 1px dotted #82665a;
	overflow: hidden;
}
.navList .detail_item .rt_part h6{
	width: 56px;
	color: #666;
	margin-right: 20px;
}
.navList .detail_item .rt_part div{
	width: 165px;
	float: left;
	overflow: hidden;
}
.navList .detail_item .rt_part a{
	margin-right: 5px;
	font:12px/24px "微软雅黑";
	display: inline-block;
	*display: inline;
	*zoom:1;
}
.navList .banner{
	width: 100%;
	height: 426px;
	z-index: 0;
	overflow: hidden;
	position: relative;
}
.navList .banner .pics{
	width: 1920px;
	height: 426px;
	position:absolute;
	top: 0;
	left: 50%;
	margin-left: -960px;
	z-index: 0;
}
.navList .banner a{
	width: 1920px;
	height: 426px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	display: none;
}
.navList .banner img{
	width: 100%;
	height: 100%;
}
.navList .banner #dots{
	overflow: hidden;
	position: absolute;
	bottom: 10px;
	left: 50%;
}
.navList .banner #dots li{
	width: 15px;
	height: 15px;
	background: lightgrey;
	float: left;
	margin-left:10px;
}
.navList .banner #dots .active{
	background: #c1a25f;
}
/* container */
.container{
	width: 100%;
	background: #ebebe8;
	padding-top: 30px;
	padding-bottom: 10px;
	overflow: hidden;
}
.part_01 .lt_tab{
	width: 920px;
	margin-right: 10px;
	background: #fff;
}
.part_01 .top_list{
	margin-bottom: 23px;
}
.part_01 .top_list li{
	width: 183px;
	color: #666;
	font:bold 14px/32px "微软雅黑";
	text-align: center;
	border: 1px solid #ddd;
	border-left: 0;
	float: left;
	cursor: pointer;
}
.part_01 .bot_list{
	height: 480px;
	position: relative;
}
.part_01 .bot_list li{
	width: 920px;
	height:480px;
	/* background:  */
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.part_01 .bot_list li a{
	width: 300px;
	height: 240px;
	margin-left:6px;
	margin-bottom:20px;
	float: left;
}
.part_01 .bot_list li img{
	width: 300px;
	height: 240px;
}
.part_01 .rt_tab{
	width: 270px;
	background: #fff;
}
.part_01 .information{
	width: 268px;
	height: 164px;
	border:1px solid #c0c0c0;
	background:#fff;
	position: relative;
}
.part_01 .information div,.part_01 .information ul{
	width: 268px;
}
.part_01 .top_tit li{
	width: 133px;
	color: #666;
	background:#f9f9f9;
	font:bold 14px/32px "微软雅黑";
	text-align: center;
	border: 1px solid #c0c0c0;
	border-left: 0;
	float: left;
	cursor: pointer;
}
.part_01 .bot_info{
	position: absolute;
	bottom: 0;
	left: 0;
	display: none;
}
.part_01 .bot_info li{
	width: 238px;
	padding: 0 20px 0 10px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.part_01 .bot_info a{
	color: #666;
	line-height: 26px;
}
.part_01 .bot_info a:hover{
	color: #e60012;
}
.part_01 .sm_banner{
	width: 268px;
	height: 163px;
	border:1px solid #c0c0c0;
	background: #fff;
	margin-top: 10px;
	position: relative;
}
.part_01 .sm_banner .pics{
	height: 163px;
	position: relative;
	overflow: hidden;
}
.part_01 .sm_banner a{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	display: none;
}
.part_01 .sm_banner img{
	width: 268px;
	height: 163px;
}
.part_01 .arrows{
	width: 268px;
	height: 23px;
	position: absolute;
	top: 65px;
	left: 0;
	z-index: 1;
}
.part_01 .arrows div{
	width: 14px;
	height: 23px;
	background: url(../images/yxgj/sprite_index.png);
	position: absolute;
	top: 0;
}
.part_01 .arrows .lt_arrow{
	left: 10px;
	background-position: -24px -17px;
}
.part_01 .arrows .rt_arrow{
	right: 10px;
	background-position: -24px -45px;
}
.part_01 .yhq_api{
	width: 268px;
	height: 185px;
	border:1px solid #c0c0c0;
	background: #fff;
	margin-top: 10px;
}
.part_01 .yhq_api img{
	width: 268px;
	height: 185px;
}

/* part_02 */
.part_02 .top_tit{
	border-bottom: 2px solid #c1a25f;
}
.part_02 .top_tit li{
	width: 200px;
	color: #666;
	font:bold 14px/38px "微软雅黑";
	text-align: center;
	float: left;
	cursor: pointer;
	position: relative;
}
.part_02 .top_tit li span{
	width: 11px;
	height: 5px;
	background: url(../images/yxgj/sprite_index.png) no-repeat -14px -11px;
	position: absolute;
	bottom: 0;
	left: 94px;
	display: none;
}
.part_02 .top_tit .active{
	color:#c1a25f;
}
.part_02 .top_tit .active span{
	display: block;
}
.part_02 .bot_list{
	height: 252px;
	background: #fff;
	position: relative;
}
.part_02 .bot_list li{
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
}
.part_02 .bot_list a{
	padding: 10px 64px 10px 65px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	float: left;
	position: relative;
}
.part_02 .bot_list img{
	float: left;
}
.part_02 .bot_list .bgPics img{
	width: 270px;
	height: 90px;
}
.part_02 .bot_list .view{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.part_02 .bot_list .bgPics .view,.part_02 .bot_list .bgPics .box,.part_02 .bot_list .bgPics .txt{
	width: 399px;
	height: 110px;
}
.part_02 .bot_list .smPics .view,.part_02 .bot_list .smPics .box,.part_02 .bot_list .smPics .txt{
	width: 199px;
	height: 70px;
}
.part_02 .bot_list .box{
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	z-index: 0;
}
.part_02 .bot_list .bgPics .txt{
	color: #fff;
	font:12px "微软雅黑";
	text-align: center;
	padding-top: 40px;
	position: relative;
	z-index: 1;
}
.part_02 .bot_list .smPics .txt{
	color: #fff;
	font:12px "微软雅黑";
	text-align: center;
	padding-top: 10px;
	position: relative;
	z-index: 1;
}
.part_02 .bot_list p{
	margin-bottom: 10px;
}
.part_02 .bot_list .tolink{
	padding:2px 15px;
	background: #e60012;
	border-radius: 10px;
}
.part_02 .bot_list .smPics{
	padding: 10px 24px 10px 25px;
}
.part_02 .bot_list .smPics img{
	width: 150px;
	height: 50px;
}

/* part_03 */
.part_03 h3{
	color: #666;
	font:bold 14px/50px "微软雅黑";
	padding-left: 25px;
	float: left;
	position: relative;
}
.part_03 .top_tit{
	border-bottom:2px solid #c1a25f;
}
.part_03 h3 span{
	width: 17px;
	height: 18px;
	background: url(../images/yxgj/sprite_index.png);
	background-position: 0 -52px;
	position: absolute;
	top: 16px;
	left: 0;
}
.part_03 .top_list li{
	height: 32px;
	padding-top: 18px;
	float: left;
}
.part_03 .top_list li a{
	color: #666;
	font:normal 14px/14px "微软雅黑";
	padding: 0 9px;
	border-right: 1px solid #666;
	float: left;
}
.part_03 .top_list .last a{
	border: none;
}
.part_03 .top_list li a:hover{
	color: #e60012;
}
.part_03 .lt_tab{
	width: 260px;
	height: 492px;
	border: 1px solid#c0c0c0;
	background: #f3f3f3;
	position: relative;
	overflow: hidden;
}
.part_03 .lt_tab .pics{
	width: 520px;
	overflow: hidden;
}
.part_03 .lt_tab img{
	width: 260px;
	height: 492px;
	float: left;
}
.part_03 .lt_tab .dots{
	width: 70px;
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -35px;
}
.part_03 .lt_tab .dots li{
	width: 20px;
	height: 5px;
	background: #fff;
	margin-left: 10px;
	float: left;
}
.part_03 .lt_tab .dots .active{
	background: #ff7700;
}
.part_03 .mid_list{
	width: 720px;
	height: 492px;
	background: #fff;
	margin-right: 6px;
}
.part_03 .mid_list div{
	width: 215px;
	padding:18px 12px 0 12px;
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	float: left;
}
.part_03 .mid_list h6 a{
	color: #666;
	width: 215px;
	font:bold 12px/24px "微软雅黑";
	float: left;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.part_03 .mid_list h6 a:hover{
	color: #e60012;
}
.part_03 .mid_list p {
	color: #666;
    font-size: 12px;
    margin-bottom: 
}
.part_03 .mid_list p span{
	color: #d7000f;
    font-family: impact;
    font-size: 18px;
}
.part_03 .mid_list img{
	width: 165px;
	height: 165px;
	display: block;
	margin: 6px auto;
}
.part_03 .rt_hotItem{
	width: 210px;
	background: #fff;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}
.part_03 .rt_hotItem h4{
	width: 200px;
	color:#c1a25f;
	font: bold 14px/34px "微软雅黑";
	padding-left: 10px;
	border-bottom: 1px solid #e0e0e0;
}
.part_03 .rt_hotItem ul{
	height: 458px;
}
.part_03 .rt_hotItem li{
	width: 210px;
	color:#666;
	font: bold 12px/34px "微软雅黑";
	cursor: pointer;
}
.part_03 .rt_hotItem h5{
	width: 170px;
	padding-left: 40px;
	padding-right: 10px;
	position: relative;
	border-bottom: 1px solid #e0e0e0;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.part_03 .rt_hotItem span{
	width: 24px;
	height: 24px;
	background: url(../images/yxgj/sprite_index.png);
	background-position: 0 -155px;
	text-align: center;
	line-height: 24px;
	position: absolute;
	top: 6px;
	left: 5px;
}
.part_03 .rt_hotItem div{
	padding-bottom: 10px;
	border-bottom: 1px solid #e0e0e0;
	position: relative;
	display: none;
}
.part_03 .rt_hotItem div span{
	color: #fff;
	background-position: 0 -125px;
}
.part_03 .rt_hotItem div img{
	width: 75px;
	height: 75px;
	margin-top:20px; 
	margin-bottom:20px; 
}
.part_03 .rt_hotItem div a{
	width: 112px;
	color: #666;
	font:normal 12px/22px "微软雅黑";
	position: absolute;
	right: 0;
	top: 10px;
}
.part_03 .rt_hotItem div a:hover{
	color: #e60012;
}
.part_03 .rt_hotItem div p{
	position: absolute;
	left: 100px;
	top: 70px;
}
.part_03 .rt_hotItem div .price{
	color: #d7000f;
	font-size: 14px;
	position: absolute;
	left: 100px;
	top: 90px;
}



/* linkHtml */
.linkHtml{
	width: 100%;
	background: #f6f6f6;
	padding-top: 65px;
	padding-bottom: 65px;
	border-top: 1px solid #ccc;
}
.linkHtml .topLink{
	margin-bottom: 65px;
}
.linkHtml .topLink li{
	width: 190px;
	float: left;
	margin-right: 12px;
}
.linkHtml .topLink .last{
	margin-right: 0;
}
.linkHtml .topLink h4{
	width: 179px;
	height: 40px;
	color: #666;
	font: normal 16px/40px "微软雅黑";
	padding-left: 11px;
	border-bottom: 1px solid #e6e6e6;
}
.linkHtml .topLink a{
	color: #666;
	display: block;
	padding-left: 10px;
	font: normal 12px/24px "微软雅黑";
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.linkHtml .botLink{
	text-align: center;
}
.linkHtml .botLink li{
	display: inline-block;
	*display: inline;
	*zoom:1;
}
.linkHtml .botLink a{
	color: #666;
	padding:0 9px;
	font: normal 12px/12px "微软雅黑";
	border-right: 1px solid #666;
}
.linkHtml a:hover{
	color: #e60012;
}
.linkHtml .botLink .last a{
	border-right: none;
	padding-right: 0;
}


/* footer */
.footer{
	width: 100%;
	padding-top: 98px;
	border-bottom: 1px solid #ddd;
}
.footer .top{
	text-align: center;
	margin-bottom: 25px;
}
.footer .top a{
	color: #666;
	padding:0 9px;
	font: bold 12px/12px "微软雅黑";
	border-right: 1px solid #666; 
}
.footer .top .last{
	border: 0;
}
.footer p{
	color:#ff0000;
	font: normal 12px/18px "微软雅黑";
	text-align: center;
	margin-bottom: 15px;
}
.footer .linkPics{
	text-align: center;
	margin-bottom: 5px;
}
.footer .copy_right{
	color:#666;
	margin-bottom: 25px;
}
.footer .num{
	color:#666;
	margin-bottom:5px;
}
.footer .zz_tj{
	text-align: center;
	margin-bottom: 10px;
}
.footer .zz_tj a{
	color: #666;
	font-size: 12px;
	line-height: 12px;
}
.footer a:hover{
	color: #e60012;
}
/* foot_link */
.foot_link{
	padding-top: 12px;
	text-align: center;
	margin-bottom: 15px;
}
.foot_link a{
	color: #666;
	padding: 0 9px;
	border-right: 1px solid #666;
	font-size: 12px;
}
.foot_link .last{
	border: none;
}
.foot_link a:hover{
	color: #e60012;
}