<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/attract.min.css">
        <link rel="stylesheet" href="css/Reset.min.css">
        <link rel="stylesheet" href="css/list.min.css">
        <script src="js/jquery-1.8.3.min.js"></script>
    </head>
    <body>
        {include file = "header_top.html"}
        {include file = "header_bottom.html"}
        <div id="shop">
            <div class="shoptitle wrapper clearfix">
                <a href="javascript:void(0);" class="quanbu fl">
                    <span class="allFen" style="display: block;margin:0 auto">招商加盟</span>
                </a>
                <ul class="ul1">
                    <li><a href="index.php">首页</a></li>
                    <li><a href="index.php" class="logo"><img src="images/commom/he-kuaihe.png" height="40" width="87"></a></li>
                    <!-- <li><a href="yxgj.php">逸香国际</a></li> -->
                    <li><a href="shopshouye.php">壹加玖定制</a></li>
                    <li><a href="###">嘴上功夫</a></li>
                    <li><a href="next_store.php">隔壁仓库</a></li>
                    <li><a href="friend_link.php">招商加盟</a></li>
                </ul>
                <!--  -->
            </div>
        </div>
        <div class="attract_box">
        	<div class="attract">
            <img src="images/register/zhaoshang.jpg" height="6199" width="1920" alt="">   	
        	</div>
        </div>
        {include file = "footer.html"}
    </body>
</html>