<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>1919酒类直供-白酒、红酒、葡萄酒、洋酒、啤酒酒类网上商城</title>
	<link rel="stylesheet" href="css/Reset.css">
	<link rel="stylesheet" href="css/banner_lianpu.css">
	<script src="js/jquery-1.8.3.min.js"></script>	
</head>
<body>
	{include file = "header_top.html"}
    {include file = "header_bottom.html"}
    {include file = "list.html"}
	<ul class="a_con_pic_lianpu">
		<li><a href="###"><img src="images/banner_lianpu_01.jpg" alt=""></a></li>
		<li><a href="###"><img src="images/banner_lianpu_02.jpg" alt=""></a></li>
		<li><a href="###"><img src="images/banner_lianpu_03.jpg" alt=""></a></li>
	</ul>
	{include file = "footer.html"}
</body>
<script src="js/banner_lianpu.js"></script>
</html>