<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/Reset.min.css">
        <link rel="stylesheet" href="css/list.min.css">
        <link rel="stylesheet" href="css/beerFestival.min.css">
        <script src="js/jquery-1.8.3.min.js"></script>
    </head>
    <body>
    	{include file = "header_top.html"}
    	{include file = "header_bottom.html"}
    </div>
    <div id="shop">
        <div class="shoptitle wrapper clearfix">
            <a href="javascript:void(0);" class="quanbu fl">
                <span class="allFen fl" style="width:198px">夏季啤酒节 500万啤酒券开抢</span>
            </a>
            <ul class="ul1">
                <li><a href="index.php">首页</a></li>
                <li><a href="index.php" class="logo"><img src="images/commom/he-kuaihe.png" height="40" width="87"></a></li>
                <!-- <li><a href="yxgj.php">逸香国际</a></li> -->
                <li><a href="shopshouye.php">壹加玖定制</a></li>
                <li><a href="###">嘴上功夫</a></li>
                <li><a href="next_store.php">隔壁仓库</a></li>
                <li><a href="friend_link.php">招商加盟</a></li>
            </ul>
            <!--  -->
        </div>
    </div>
	<div class="beerFestival">
		<div class="banner">
			<ul>
				<li><a href="banner01_con.php"><img src="images/Beer festival/啤酒节-3_01.jpg" height="249" width="1920"></a></li>
				<li><a href="banner01_con.php"><img src="images/Beer festival/啤酒节-3_02.jpg" height="278" width="1920" alt=""></a></li>
				<li><a href="banner01_con.php"><img src="images/Beer festival/3_03.jpg" height="246" width="1920" alt=""></a></li>
				<li><a href="banner01_con.php"><img src="images/Beer festival/啤酒节-3_04.jpg" height="369" width="1920" alt=""></a></li>
				<li><a href="banner01_con.php"><img src="images/Beer festival/啤酒节-3_05.jpg" height="638" width="1920" alt=""></a></li>
			</ul>
		</div>
		<div class="beerGoods">
			<div class="g_main">
				<ul>
					{foreach from=$ale item key}
					{if $item['type']=="啤酒" && $item["Id"]==$ala[$key]["goodsId"]}
					<li>
						<div class="box1">
							<a href="goodsDetails.php?goodsId={$item['Id']}">
								<img src="{$ala[$key]['img01']}" height="200" width="200" alt="">
							</a>
						</div>
						<div class="box2">
							<p class="p1">
								<span class="box2_f">¥<span class="box2_f0">{$item['nowPrice']}</span></span>
								<span class="box2_f1">{$item['oriPrice']}</span>
							</p>
							<p class="p2">
								<a href="goodsDetails.php?goodsId={$item['Id']}">{$item['title']}</a>
							</p>
							<p class="p3"></p>
						</div>
						<div class="box3">
                            <img src="images/goodsList/zq-icon-24time.jpg" alt="">
                        </div>
					</li>
					{/if}
					{/foreach}
				</ul>
			</div>
		</div>
	</div>
	{include file = "footer.html"}
    </body>
</html>