<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/Reset.css">
        <link rel="stylesheet" href="css/liquorZone.css">
        <link rel="stylesheet" href="css/list.css">
        <script src="js/jquery-1.8.3.min.js"></script>
    </head>
    <body>
    	{include file = "header_top.html"}
        {include file = "header_bottom.html"}
    <div id="shop">
        <div class="shoptitle wrapper clearfix">
            <a href="javascript:void(0);" class="quanbu fl">
                <span class="allFen fl" style="width:198px">白酒520</span>
                
            </a>
                        
            <ul class="ul1">
                <li><a href="index.php">首页</a></li>
                <li><a href="index.php" class="logo"><img src="images/commom/he-kuaihe.png" height="40" width="87"></a></li>
                <!-- <li><a href="yxgj.php">逸香国际</a></li> -->
                <li><a href="shopshouye.php">壹加玖定制</a></li>
                <li><a href="###">嘴上功夫</a></li>
                <li><a href="next_store.php">隔壁仓库</a></li>
                <li><a href="friend_link.php">招商加盟</a></li>
            </ul>
            <!--  -->
        </div>
    </div>
		<div class="liquorZone">
			<div class="banner">
				<ul>
					<li><a href="goodsList.php"><img src="images/Liquor zone/1920x540-白酒.jpg" height="540" width="1920" alt=""></a></li>
				</ul>
			</div>
			<div class="liquorGoods">
				<div class="main">
					<ul>
					{foreach from=$lise item key}
					{if $item['type']=="白酒" && $item["Id"]==$lisa[$key]["goodsId"]}
						<li>
							<div class="box1">
								<a href="goodsDetails.php?goodsId={$item['Id']}">
									<img src="{$lisa[$key]['img01']}" height="200" width="200" alt="">
								</a>
							</div>
							<div class="box2">
								<p class="p1">
									<span class="box2_f">¥<span class="box2_f0">{$item['nowPrice']}</span></span>
									<span class="box2_f1">{$item['oriPrice']}</span>
								</p>
								<p class="p2">
									<a href="goodsDetails.php?goodsId={$item['Id']}">{$item['title']}</a>
								</p>
								<p class="p3"></p>
							</div>
							<div class="box3">
	                            <img src="images/goodsList/zq-icon-24time.jpg" alt="">
	                        </div>
						</li>
							{/if}
						{/foreach}
					</ul>
				</div>
			</div>
	</div>
	{include file = "footer.html"}
    </body>
</html>