<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/Reset.min.css">
	<link rel="stylesheet" href="css/login.min.css">
	<link rel="stylesheet" href="css/common.min.css">
	<script src="js/jquery-1.8.3.min.js"></script>
	<script src="js/jquery.validate.min.js"></script>
	<script src="js/messages_zh.min.js"></script>
</head>
<body>
	<div class="regis_top clearfix">
		<div class="logo clearfix">
			<a href="index.php">
				<img src="images/logo.png" height="75" width="228" alt="">
			</a>
		</div>
		<div class="welcome">
			<a href="">欢迎光临1919酒类直供</a>
		</div>
	</div>
	<div class="login_ban">
		<div class="login_m">
			<div class="login_news">
				<p class="login_hy_qy">
					<span class="hy_login fl">会员登陆</span>
					<span class="qy_login fl">企业登陆</span>
				</p>
				<p class="login_top">请勿在公共场所勾选自动登录，以防账号丢失 </p>
				<form action="login_check.php" id="my_form" method="post">
					<p class="hy_user">
						<i></i>
						<input type="text" name="user"  placeholder="请输入用户名/手机号" class="hy_txt fl">
					</p>
					<p class="hy_pwd">
						<i></i>
						<input type="password" name="pwd" placeholder="请输入登陆密码" class="hy_pwds fl">
					</p>
					<p class="hy_zd">
						<i class="chec fl"><span class="duigou"></span></i>
						<span class="zd_log fl">自动登陆</span>
						<a href="###" class="wj_pwd fr">忘记密码?</a>
					</p>
					<input type="submit" class="hy_login_btn fr" value="登陆">
				</form>

				<p class="login_accet">
					<i class="selec"><span class="duigou2"></span></i>
					<span class="font">我已阅读并同意1919用户协议</span>
				</p>
				<p class="hy_zhuce">
					<span>还没有账号？<a href="register.php">去注册</a></span>
				</p>
			</div>
		</div>
		<div class="error-container"></div>
	</div>
	{include file = "footer.html"}
</body>
<script src="js/login.js"></script>
</html>