<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>逸香精品-世界精品酒，中高端知名葡萄酒，洋酒O2O电商平台</title>
    <link rel="icon" href="images/yxgj/logo.ico">
    <link rel="stylesheet" href="css/Reset.css">
    <link rel="stylesheet" href="css/yxgj.css">
    <link rel="stylesheet" href="css/shaixuan.css">
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery_lazyload.js"></script>
</head>
<body>
	<div class="header">
		<div class="wrapper clearfix">
			<div class="lt_part fl">
				<div>欢迎光临逸香国际酒类P2C电商平台----全球首家酒水产区直供电商平台</div>
				<div><a href="###">[登录]</a></div>
				<div><a href="###">[注册]</a></div>
			</div>
			<div class="rt_part fl">
				<div class="icon"><a href="###">会员中心<span></a></span></div>
				<div class="icon"><a href="###">我的订单<span></span></a></div>
				<div class="shop_car"><a href="###"><span></span>购物车(0)</a></div>
				<div><a href="###">帮助中心</a></div>
				<div class="Qtalk"><a href="###"></a></div>
				<div class="serve_num">客服电话:<span>400-999-1919</span></div>
			</div>
			<div class="detil_icon hy_center"><a href="###">商品收藏</a></div>
			<div class="detil_icon my_form"><a href="###">待付款</a><a href="###">待评价</a></div>
		</div>
		<div class="talk_style">
				<div class="close"></div>
				<p>请选择发起聊天的方式:</p>
				<div class="talk_st">
					<a href="###" class="qq_talk"></a>
					<p>QQ账号聊天</p>
				</div>
				<div class="talk_st">
					<a href="###" class="else_talk"></a>
					<p>匿名聊天</p>
				</div>
				<div class="link"><a href="###">安装QQ</a></div>
		</div>
	</div>
	<div class="navbar wrapper">
		<div class="nav_ad"><a href="###"><img src="images/yxgj/nav_banner_01.jpg" alt=""></a><span></span></div>
		<div class="nav_search clearfix">
			<h1 class="fl"><a href="">逸香国际</a></h1>
			<div class="search fl">
				<input type="text">
				<input type="button" class="btn" value="搜索">
				<ul>
					<li>婚庆用酒</li>
					<li class="active">大牌红酒</li>
					<li>啤酒清仓</li>
					<li class="active">拉菲传奇</li>
					<li>黄尾袋鼠</li>
				</ul>
			</div>
		</div>
	</div>
	<script src="js/hyzx_header.js"></script>
	<div class="navList">
		<div class="wrapper clearfix">
			<div class="nav_title fl">
				<div class="all_list "><span></span>全部商品分类</div>
				<div class="tit"><a href="yxgj.php">首页</a></div>
				<div class="tit"><a href="qingrenjie.php">浪漫情人节</a></div>
				<div class="tit"><a href="index.php">1919酒类直供</a></div>
			</div>
			<ul class="lt_list fl">
				<li>
					<h5><a href="#">葡萄酒</a><span></span></h5>
					<div><a href="#">红葡萄酒</a>
					<a href="#">白葡萄酒</a></div>
				</li>
				<li>
					<h5><a href="#">洋酒</a><span></span></h5>
					<div><a href="#">白兰地</a>
					<a href="#">威士忌</a><a href="#">伏特加</a><a href="#">朗姆酒</a></div>
				</li>
				<li>
					<h5><a href="#">啤酒</a><span></span></h5>
					<div><a href="#">进口啤酒</a>
					<a href="#">国产啤酒</a></div>
				</li>
				<li>
					<h5><a href="#">酒具</a><span></span></h5>
					<div><a href="#">包装盒</a>
					<a href="#">酒刀</a><a href="#">新潮酒柜</a><a href="#">酒杯</a></div>
				</li>
			</ul>
			<ul class="detail_item fl">
				<li class="item">
					<ul class="lt_part fl">
						<li>
							<h6><a href="#">红葡萄酒</a></h6>
						</li>
						<li>
							<h6><a href="#">白葡萄酒</a></h6>
						</li>
						<li>
							<h6><a href="#">桃红葡萄酒</a></h6>
						</li>
						<li>
							<h6><a href="#">香槟/葡萄酒</a></h6>
						</li>
						<li>
							<h6><a href="#">加强葡萄酒</a></h6>
						</li>
						<li style="border-bottom:0;margin-bottom:50px">
							<h6><a href="#">甜酒/冰酒</a></h6>
						</li>
					</ul>
					<ul class="rt_part fl">
						<li>
							<h6>国家</h6>
							<div>
								<a href="#">中国</a>
								<a href="#">匈牙利</a>
								<a href="#">加拿大</a>
								<a href="#">葡萄牙</a>
								<a href="#">奥地利</a>
								<a href="#">南非</a>
								<a href="#">阿根廷</a>
								<a href="#">新西兰</a>
								<a href="#">澳大利亚</a>
								<a href="#">智利</a>
								<a href="#">西班牙</a>
								<a href="#">美国</a>
								<a href="#">德国</a>
								<a href="#">意大利</a>
								<a href="#">法国</a>
							</div>
						</li>
						<li>
							<h6>口味类型</h6>
							<div>
								<a href="#">无酒精葡萄酒</a>
								<a href="#">甜型葡萄酒</a>
								<a href="#">半甜型葡萄酒</a>
								<a href="#">半干型葡萄酒</a>
								<a href="#">干型葡萄酒</a>
							</div>
						</li>
						<li style="border-bottom:0;">
							<h6>品牌</h6>
							<div>
								<a href="#">拉菲</a>
								<a href="#">杰卡斯</a>
								<a href="#">酩悦香槟</a>
								<a href="#">蒙特斯</a>
								<a href="#">桃乐丝</a>
								<a href="#">黄尾袋鼠</a>
								<a href="#">奔富</a>
								<a href="#">巴黎之花</a>
							</div>
						</li>
					</ul>
				</li>
				<li class="item">
					<ul class="lt_part fl">
						<li>
							<h6><a href="#">白兰地</a></h6>
    						<div>
    							<a href="#">轩尼诗</a>
    							<a href="#">人头马</a>
    							<a href="#">马爹利</a>
    							<a href="#">其它</a>
    							<a href="#">路易老爷</a>
    						</div>
						</li>
						<li>
							<h6><a href="#">威士忌</a></h6>
    						<div>
    							<a href="#">珍宝</a>
    							<a href="#">格兰菲迪</a>
    							<a href="#">麦卡伦</a>
    							<a href="#">格兰杰</a>
    							<a href="#">杰克丹尼</a>
    							<a href="#">占边</a>
    							<a href="#">其它</a>
    							<a href="#">帝王</a>
    							<a href="#">尊尼获加</a>
    							<a href="#">百龄坛</a>
    							<a href="#">芝华士</a>
    							<a href="#">皇家礼炮</a>
    						</div>
						</li>
						<li>
							<h6><a href="#">伏特加</a></h6>
    						<div>
    							<a href="#">绝对伏特加</a>
    							<a href="#">斯米诺</a>
    							<a href="#">深蓝伏特加（skyy）</a>
    							<a href="#">其它</a>
    						</div>
						</li>
						<li>
							<h6><a href="#">朗姆酒</a></h6>
    						<div>
    							<a href="#">百加得</a>
    							<a href="#">其它</a>
    						</div>
						</li>
						<li>
							<h6><a href="#">龙舌兰</a></h6>
						</li>
						<li>
							<h6><a href="#">配制酒</a></h6>
    						<div>
    							<a href="#">开胃酒</a>
    							<a href="#">利口酒</a>
    							<a href="#">力娇酒</a>
    						</div>
						</li>
						<li>
							<h6><a href="#">日韩酒</a></h6>
						</li>
						<li>
							<h6><a href="#">其他洋酒</a></h6>
						</li>
						<li style="border-bottom:0">
							<h6><a href="#">酒版</a></h6>
						</li>
					</ul>
					<ul class="rt_part fl">
						<li style="border-bottom:0">
							<h6>国家</h6>
							<div>
								<a href="#">其他</a>
								<a href="#">韩国</a>
								<a href="#">俄国</a>
								<a href="#">瑞典</a>
								<a href="#">荷兰</a>
								<a href="#">西班牙</a>
								<a href="#">日本</a>
								<a href="#">意大利</a>
								<a href="#">澳大利亚</a>
								<a href="#">法国</a>
								<a href="#">牙买加</a>
								<a href="#">波多黎各</a>
								<a href="#">爱尔兰</a>
								<a href="#">美国</a>
								<a href="#">法国</a>
							</div>
						</li>
					</ul>
				</li>
				<li class="item" style="height:200px;">
					<ul class="lt_part fl">
						<li>
							<h6><a href="#">进口啤酒</a></h6>
    						<div>
    							<a href="#">瓶装</a>
    							<a href="#">听装</a>
    							<a href="#">桶装</a>
    						</div>
						</li>
						<li style="border-bottom:0">
							<h6><a href="#">国产啤酒</a></h6>
    						<div>
    							<a href="#">瓶装</a>
    							<a href="#">听装</a>
    							<a href="#">桶装</a>
    						</div>
						</li>
					</ul>
					<ul class="rt_part fl">
						<li>
							<h6>国家</h6>
							<div>          
								<a href="#">其他</a>
								<a href="#">丹麦</a>
								<a href="#">日本</a>
								<a href="#">美国</a>
								<a href="#">中国</a>
								<a href="#">比利时</a>
								<a href="#">英国</a>
								<a href="#">澳大利亚</a>
								<a href="#">法国</a>
								<a href="#">荷兰</a>
								<a href="#">德国</a>
							</div>
						</li>
						<li style="border-bottom:0">
							<h6>按颜色</h6>
							<div>         
								<a href="#">红啤</a>
								<a href="#">白啤</a>
								<a href="#">黄啤</a>
								<a href="#">黑啤</a>
							</div>
						</li>
					</ul>
				</li>
				<li class="item" style="height:200px;">
					<ul class="lt_part fl">
						<li>
							<h6><a href="#">包装盒</a></h6>
						</li>
						<li>
							<h6><a href="#">酒刀</a></h6>
						</li>
						<li>
							<h6><a href="#">新潮酒柜</a></h6>
						</li>
						<li style="border-bottom:0">
							<h6><a href="#">酒杯</a></h6>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		 
	</div>
	<div class="wrapper">
		<div class="shaixuan_list">
			<div class="shaixuan_list_top">
				<p class="shangpin_shaixuan"><b class="fl">商品筛选</b>(共<span class="jishu">0</span>件商品)<a class="fr reset" href="###">重置筛选项</a></p>
			</div>
			<div class="shaixuan_a" id="shaixuan_a">
				<div class="selected clearfix">						
					<p class="sel_xianshi fl">
						<span class="fl sel">您已选择：</span>
					</p>
				</div>
				<div class="price clearfix">
					<ul class="fl  pri_list">
						<li class="fn1"><span>价格：</span></li>
						<li class="buxian buxian_pri fl">不限</li>
						<li class="price_fw">
							<a href="###">1-99</a>
							<a href="###">100-299</a>
							<a href="###">300-799</a>
							<a href="###">800-1000000</a>
						</li>
						<li class="pri_shuru">
							<input value="" type="text" class="txt1 fl"><span class="fl">-</span> <input type="text" value="" class="txt2 fl">
						</li>
						<li class="cle_conf">
						 	<span class="qingkong">清空</span>
						 	<span class="conf">确定</span>
						</li>
						
					</ul>
				</div>
				<div class="shangpin_sel">
					<ul class="country clearfix">
						<li class="country_font fn2"><span>国家：</span></li>
						<li class="buxian">不限</li>
						<li class="countrys">
							<a href="###">法国<i>×</i></a>
							<a href="###">意大利<i>×</i></a>
							<a href="###">西班牙<i>×</i></a>
							<a href="###">美国<i>×</i></a>
							<a href="###">智力<i>×</i></a>
							<a href="###">澳大利亚<i>×</i></a>
							<a href="###">南非<i>×</i></a>
							<a href="###">新西兰<i>×</i></a>
							<a href="###">德国<i>×</i></a>
							<a href="###">葡萄牙<i>×</i></a>
							<a href="###">中国<i>×</i></a>
							<a href="###">加拿大<i>×</i></a>
							<a href="###">阿根廷<i>×</i></a>
							<a href="###">奥地利<i>×</i></a>
							<a href="###">匈牙利<i>×</i></a>
						</li>
						<!-- <li class="more"><a href="###">更多</a><span></span></li> -->
					</ul>
					<ul class="kw_styl clearfix">
						<li class="kw_font fn3"><span>口味类型：</span></li>
						<li class="buxian">不限</li>
						<li class="kw_styls">
							<a href="###">干型葡萄酒<i>×</i></a>
							<a href="###">半干型葡萄酒<i>×</i></a>
							<a href="###">半甜型葡萄酒<i>×</i></a>
							<a href="###">甜型葡萄酒<i>×</i></a>
							<a href="###">无酒精葡萄酒<i>×</i></a>
						</li>

					</ul>

					<ul class="chanqu clearfix">
						<li class="chanqu_font fn4"><span>产区：</span></li>
						<li class="buxian">不限</li>
						<li class="chanqus">
							<a href="###">波尔多<i>×</i></a>
							<a href="###">勃艮第<i>×</i></a>
							<a href="###">朗格多克鲁西荣<i>×</i></a>
							<a href="###">香槟<i>×</i></a>
							<a href="###">薄若莱<i>×</i></a>
							<a href="###">卢瓦尔河谷<i>×</i></a>
							<a href="###">阿尔萨斯<i>×</i></a>
							<a href="###">普罗旺斯<i>×</i></a>
							<a href="###">西南产<i>×</i>区<i>×</i></a>
							<a href="###">其他<i>×</i></a>
						</li>
					</ul>
					<ul class="niangzao clearfix">
						<li class="niangzao_font fn5">
							<span>葡萄酒酿造<br>方式：</span>
						</li>
						<li class="buxian">不限</li>
						<li class="niangzaos">
							<a href="###">单一品种<i>×</i></a>
							<a href="###">混合品种<i>×</i></a>
						</li>
					</ul>

					<ul class="brand clearfix">
						<li class="brand_font fn6">
							<span>品牌：</span>
						</li>
						<li class="buxian">
							不限
						</li>
						<li>
							<a href="###">巴黎之花<i>×</i></a>
							<a href="###">奔富<i>×</i></a>
							<a href="###">黄尾袋鼠<i>×</i></a>
							<a href="###">桃乐丝<i>×</i></a>
							<a href="###">蒙斯特<i>×</i></a>
							<a href="###">酩悦香槟<i>×</i></a>
							<a href="###">杰卡斯</a>
							<a href="###">拉菲<i>×</i></a>
						</li>
					</ul>
					<ul class="brand clearfix">
						<li class="brand_font fn7">
							<span>特级：</span>
						</li>
						<li class="buxian">
							不限
						</li>
						<li>
							<a href="###">日常餐饮系列<i>×</i></a>
							<a href="###">各国优质产区酒<i>×</i></a>
							<a href="###">列级名庄酒<i>×</i></a>
							<a href="###">AOC<i>×</i></a>
							<a href="###">VQA<i>×</i></a>
							<a href="###">其他<i>×</i></a>
						</li>
					</ul>
					 
				</div>
				
				 
			</div>
			
		</div>
	</div>
	
	<script src="js/hxgj_banner.js"></script>
	 
	<div class="linkHtml">
		<div class="wrapper">
			<ul class="topLink clearfix">
				<li>
					<h4>购物指南</h4>
					<div>
						<a href="###">付款方式</a>
						<a href="###">购物保障</a>
						<a href="###">发票说明</a>
						<a href="###">支付问题解答</a>
					</div>
				</li>
				<li>
					<h4>配送说明</h4>
					<div>
						<a href="###">配送时间</a>
						<a href="###">配送费用</a>
						<a href="###">配送范围</a>
					</div>
				</li>
				<li>
					<h4>售后服务</h4>
					<div>
						<a href="###">品质保障</a>
						<a href="###">退换货流程</a>
						<a href="###">质询投诉</a>
						<a href="###">立即送</a>
					</div>
				</li>
				<li>
					<h4>活动公告</h4>
					<div>
						<a href="###">公司简介草稿</a>
						<a href="###">【往期活动】找个男神女神来脱单(七夕美酒抢不停）爱在哪里，美酒就送到哪里！</a>
						<a href="###">【往期活动】“七夕随手拍”晒甜蜜幸福，赢美酒大礼1919陪你一起过七夕</a>
						<a href="###">【往期活动】冰镇美酒，冰爽到家-1919冰饮节爽快一夏</a>
						<a href="###">【往期活动】巅峰对决,倾尽全力</a>
					</div>
				</li>
				<li>
					<h4>进口酒产区文化</h4>
					<div>
						<a href="###">贪新恋旧大PK ——1919国际葡萄酒节带您轻松品世界</a>
						<a href="###">红色魅惑的极致享受——浪漫葡萄酒庄之旅</a>
						<a href="###">婚宴用酒上的情感哲学</a>
						<a href="###">说说“西洋酒”在中华美酒中的历史地位</a>
						<a href="###">酒醉枫红的京都</a>
					</div>
				</li>
				<li class="last">
					<h4>关于我们</h4>
					<div>
						<a href="###">岗位招聘</a>
						<a href="###">公司简介</a>
						<a href="###">1919总部图片</a>
						<a href="###">客户服务</a>
						<a href="###">门店查询</a>
					</div>
				</li>
			</ul>
			<ul class="botLink clearfix">
				<li><a href="###">1919酒类直供</a></li>
				<li><a href="###">逸香国际官方微博</a></li>
				<li><a href="###">红酒推荐</a></li>
				<li class="last"><a href="###">逸香酒类旗舰店-京东店</a></li>
			</ul>
		</div>
	</div>
	<div class="footer clearfix">
		<div class="wrapper">
			<div class="top">
				<a href="###">公司简介</a>
				<a href="###">活动公告</a>
				<a href="###">媒体报道</a>
				<a class="last" href="###">购酒指南</a>
			</div>
			<p>购买的时候请确认达到法定饮酒年龄！逸香国际不销售含酒精产品给18岁以下人士！</p>
			<div class="linkPics">
				<a href="###"><img class="lazy" data-original="images/yxgj/footer_pics_01.png" height="45" width="122" alt=""></a>
				<a href="###"><img class="lazy" data-original="images/yxgj/footer_pics_02.png" height="45" width="122" alt=""></a>
			</div>
			<p class="copy_right">ⓒ 2009-1919.cn ALL Rights Reserved 蜀ICP备17000822号</p>
			<div class="zz_tj">
				<a href="###"><img class="lazy" data-original="images/yxgj/zz_tj.gif" height="12" width="50" alt=""></a>
				<a href="###">站长统计</a>
				<a href="###">站长统计</a>
				<a href="###">站长统计</a>
				<a href="###">站长统计</a>
				<a href="###">站长统计</a>
				<a href="###">站长统计</a>
				<a href="###">站长统计</a>
			</div>
			<p class="num">蜀ICP备17000822号</p>
		</div>
	</div>
	<div class="foot_link wrapper">
		<a href="###">法国葡萄酒</a>
		<a href="###">德国葡萄酒</a>
		<a href="###">美国葡萄酒</a>
		<a href="###">西班牙葡萄酒</a>
		<a href="###">澳大利亚葡萄酒</a>
		<a href="###">智利葡萄酒</a>
		<a href="###">南非葡萄酒</a>
		<a class="last" href="###">阿根廷葡萄酒</a>
	</div>
</body>
<script src="js/yxgj.js"></script>
<script src="js/shaixuan.js"></script>
<script>
	$("img.lazy").lazyload({
		threshold:150,
		effect:"show",
		failure_limit : 20
	});
</script>
</html>