<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/Reset.min.css">
    <link rel="stylesheet" href="css/shoppingCart.min.css">
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jQuery.color.(IE).min.js"></script>
    <script src="js/shoppingCart.min.js"></script>
</head>
<body>
    {include file = "header_top.html"}
	<div class="shoppingCart">
		<div class="S_min">
			<div class="S_up clearfix">
    			<div class="S_left fl">
    				<a href="index.php" class="fl"><img src="images/shoppingCart/logo.png" height="75" width="228" alt="1919酒类直销"></a>
    				<h1 class="fl">购物车</h1>
    			</div>
                <div class="shopping-search-container fr">
                    <div class="shop-sch-left fl">
                        <div class="show-item">美酒</div>
                        <ul class="shop-sch-l-list">
                            <li>美酒</li>
                            <li>店铺</li>
                        </ul>
                    </div>
                    <input class="shop-sch-ipt fl" type="text">
                    <div class="shop-sch-right fr">搜索</div>
                </div>
			</div>
            <div class="shopping-down-container">
                <div class="S_down" style="{$empetDisplay}">
                    <div class="S_box">
                        <p>购物车空空的，您可以：</p>
                        <a href="goodsList.php" class="buyWine">去买酒</a>
                        <a href="index.php" class="collectGoods">查看收藏的商品</a>
                    </div>
                </div>
                <div class="shopping-content clearfix" style="{$listDisplay}">
                    <div class="shopping-con-tit padding">
                        <div class="checkAll-container fl">
                            <input class="checkAll allChecked" type="checkbox">
                            <label for="">全选</label>
                        </div>
                        <div class="shopping-goods-tit fl">商品</div>
                        <div class="shopping-price-tit fl">单价</div>
                        <div class="shopping-num-tit fl">数量</div>
                        <div class="shopping-total-tit fl">小计</div>
                        <div class="shopping-caozuo-tit fl">操作</div>
                    </div>
                    <div class="shopping-con-goodsDetails">
                        <div class="shop-con-goods-top padding">
                            <input class="checkAll allChecked" type="checkbox">
                            由：河南仓库店为您提供配送服务
                            <span> (预计: 24小时送出)</span>
                        </div>
                        <ul class="shop-con-goods-mid">
                            {if $goods}
                            {foreach from = $goods item}
                            <li data-price="{$item["price"]}" data-id="{$item["goodsId"]}" data-stock="{$item["store"]}">
                                <input class="checkAll fl" type="checkbox" goods-select="{$item["goodsSelect"]}">
                                <a class="con-goods-mid-img fl" href="goodsDetails.php?goodsId={$item["goodsId"]}" target="_blank">
                                    <img src="{$item["goodsImg"]}" height="640" width="640" alt="">
                                </a>
                                <div class="con-goods-mid-info fl">
                                    <a class="font-color" href="goodsDetails.php?goodsId={$item["goodsId"]}">
                                        {$item["title"]}
                                    </a>
                                    <span>24小时送出</span>
                                </div>
                                <div class="con-goods-mid-price fl">¥ {$item["price"]}</div>
                                <div class="con-goods-mid-num fl" goods-id="{$item["goodsId"]}">
                                    <span class="subbtn fl"></span>
                                    <input class="num-ipt fl" value="{$item["number"]}" type="text" autocomplete="off" data-store="{$item["store"]}">
                                    <span class="addbtn fl"></span>
                                    <p>库存{$item["store"]}</p>
                                </div>
                                <div class="con-goods-mid-allPrice fl">¥ {$item["price"]}</div>
                                <div class="con-goods-mid-caozuo fr">
                                    <span class="operate-del font-color" goods-id="{$item["goodsId"]}">删除</span>
                                    <span class="operate-favorite font-color" goods-id="{$item["goodsId"]}">加入收藏</span>
                                </div>
                            </li>
                            {/foreach}
                            {/if}
                        </ul>
                        <div class="shop-con-goods-bottom clearfix">
                            <div class="shop-con-goods-bottom-left fl">
                                <input class="checkAll allChecked" type="checkbox">
                                <label for="">全选</label>
                                <span class="font-color">删除选中</span>
                                <span class="font-color">收藏选中</span>
                            </div>
                            <div class="shop-con-goods-bottom-right fr">
                                <div class="goods-num-box fl">
                                    合计：<span>0</span>件商品
                                    <a class="lookGoods font-color">查看商品</a>
                                </div>
                                <div class="alltotal-price-box fl">
                                    合计：<span>￥0.00</span>
                                </div>
                                <a class="countbtn fl" href="javascript:;">去结算</a>
                            </div>
                        </div>
                    </div>
                    <div class="collectSuccess"></div>
                </div>
            </div>
		</div>
	</div>
    {include file = "footer.html"}
</body>
</html>