<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>逸香精品-世界精品酒，中高端知名葡萄酒，洋酒O2O电商平台</title>
    <link rel="icon" href="images/yxgj/logo.ico">
    <link rel="stylesheet" href="css/Reset.css">
    <link rel="stylesheet" href="css/yxgj.css">
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery_lazyload.js"></script>
    <script src="js/BannerAnimate.js"></script>
</head>
<body>
	<div class="header">
		<div class="wrapper clearfix">
			<div class="lt_part fl">
				<div>欢迎光临逸香国际酒类P2C电商平台----全球首家酒水产区直供电商平台</div>
				<div><a href="login.php">[登录]</a></div>
				<div><a href="register.php">[注册]</a></div>
			</div>
			<div class="rt_part fl">
				<div class="icon icon1"><a href="###">会员中心<span></span></a><div class="detil_icon hy_center"><a href="###">商品收藏</a></div></div>
				<div class="icon icon2"><a href="###">我的订单<span></span></a><div class="detil_icon my_form"><a href="###">待付款</a><a href="###">待评价</a></div></div>
				<div class="shop_car"><a href="###"><span></span>购物车(0)</a></div>
				<div><a href="###">帮助中心</a></div>
				<div class="Qtalk"><a href="###"></a></div>
				<div class="serve_num">客服电话:<span>400-999-1919</span></div>
			</div>
		</div>
		<div class="talk_style">
				<div class="close"></div>
				<p>请选择发起聊天的方式:</p>
				<div class="talk_st">
					<a href="###" class="qq_talk"></a>
					<p>QQ账号聊天</p>
				</div>
				<div class="talk_st">
					<a href="###" class="else_talk"></a>
					<p>匿名聊天</p>
				</div>
				<div class="link"><a href="###">安装QQ</a></div>
		</div>
	</div>
	<div class="navbar wrapper">
		<div class="nav_ad"><a href="###"><img src="images/yxgj/nav_banner_01.jpg" alt=""></a><span></span></div>
		<div class="nav_search clearfix">
			<h1 class="fl"><a href="">逸香国际</a></h1>
			<div class="search fl">
				<input type="text">
				<input type="button" class="btn" value="搜索">
				<ul>
					<li>婚庆用酒</li>
					<li class="active">大牌红酒</li>
					<li>啤酒清仓</li>
					<li class="active">拉菲传奇</li>
					<li>黄尾袋鼠</li>
				</ul>
			</div>
		</div>
	</div>
	<script src="js/hyzx_header.js"></script>
	<div class="navList">
		<div class="wrapper clearfix">
			<div class="nav_title fl">
				<div class="all_list "><span></span>全部商品分类</div>
				<div class="tit"><a href="index.php">首页</a></div>
				<div class="tit"><a href="qingrenjie.php">浪漫情人节</a></div>
				<div class="tit"><a href="index.php">1919酒类直供</a></div>
			</div>
			<ul class="lt_list fl">
				<li>
					<h5><a href="wineZone.php">葡萄酒</a><span></span></h5>
					<div><a href="###">红葡萄酒</a>
					<a href="###">白葡萄酒</a></div>
				</li>
				<li>
					<h5><a href="liquorZone.php">洋酒</a><span></span></h5>
					<div><a href="###">白兰地</a>
					<a href="###">威士忌</a><a href="#">伏特加</a><a href="#">朗姆酒</a></div>
				</li>
				<li>
					<h5><a href="beiZone.php">啤酒</a><span></span></h5>
					<div><a href="###">进口啤酒</a>
					<a href="###">国产啤酒</a></div>
				</li>
				<li>
					<h5><a href="#">酒具</a><span></span></h5>
					<div><a href="###">包装盒</a>
					<a href="###">酒刀</a><a href="###">新潮酒柜</a><a href="###">酒杯</a></div>
				</li>
			</ul>
			<ul class="detail_item fl">
				<li class="item">
					<ul class="lt_part fl">
						<li>
							<h6><a href="wineZone.php">红葡萄酒</a></h6>
						</li>
						<li>
							<h6><a href="wineZone.php">白葡萄酒</a></h6>
						</li>
						<li>
							<h6><a href="wineZone.php">桃红葡萄酒</a></h6>
						</li>
						<li>
							<h6><a href="wineZone.php">香槟/葡萄酒</a></h6>
						</li>
						<li>
							<h6><a href="wineZone.php">加强葡萄酒</a></h6>
						</li>
						<li style="border-bottom:0;margin-bottom:50px">
							<h6><a href="wineZone.php">甜酒/冰酒</a></h6>
						</li>
					</ul>
					<ul class="rt_part fl">
						<li>
							<h6>国家</h6>
							<div>
								<a href="#">中国</a>
								<a href="#">匈牙利</a>
								<a href="#">加拿大</a>
								<a href="#">葡萄牙</a>
								<a href="#">奥地利</a>
								<a href="#">南非</a>
								<a href="#">阿根廷</a>
								<a href="#">新西兰</a>
								<a href="#">澳大利亚</a>
								<a href="#">智利</a>
								<a href="#">西班牙</a>
								<a href="#">美国</a>
								<a href="#">德国</a>
								<a href="#">意大利</a>
								<a href="#">法国</a>
							</div>
						</li>
						<li>
							<h6>口味类型</h6>
							<div>
								<a href="#">无酒精葡萄酒</a>
								<a href="#">甜型葡萄酒</a>
								<a href="#">半甜型葡萄酒</a>
								<a href="#">半干型葡萄酒</a>
								<a href="#">干型葡萄酒</a>
							</div>
						</li>
						<li style="border-bottom:0;">
							<h6>品牌</h6>
							<div>
								<a href="#">拉菲</a>
								<a href="#">杰卡斯</a>
								<a href="#">酩悦香槟</a>
								<a href="#">蒙特斯</a>
								<a href="#">桃乐丝</a>
								<a href="#">黄尾袋鼠</a>
								<a href="#">奔富</a>
								<a href="#">巴黎之花</a>
							</div>
						</li>
					</ul>
				</li>
				<li class="item">
					<ul class="lt_part fl">
						<li>
							<h6><a href="#">白兰地</a></h6>
    						<div>
    							<a href="#">轩尼诗</a>
    							<a href="#">人头马</a>
    							<a href="#">马爹利</a>
    							<a href="#">其它</a>
    							<a href="#">路易老爷</a>
    						</div>
						</li>
						<li>
							<h6><a href="#">威士忌</a></h6>
    						<div>
    							<a href="#">珍宝</a>
    							<a href="#">格兰菲迪</a>
    							<a href="#">麦卡伦</a>
    							<a href="#">格兰杰</a>
    							<a href="#">杰克丹尼</a>
    							<a href="#">占边</a>
    							<a href="#">其它</a>
    							<a href="#">帝王</a>
    							<a href="#">尊尼获加</a>
    							<a href="#">百龄坛</a>
    							<a href="#">芝华士</a>
    							<a href="#">皇家礼炮</a>
    						</div>
						</li>
						<li>
							<h6><a href="#">伏特加</a></h6>
    						<div>
    							<a href="#">绝对伏特加</a>
    							<a href="#">斯米诺</a>
    							<a href="#">深蓝伏特加（skyy）</a>
    							<a href="#">其它</a>
    						</div>
						</li>
						<li>
							<h6><a href="#">朗姆酒</a></h6>
    						<div>
    							<a href="#">百加得</a>
    							<a href="#">其它</a>
    						</div>
						</li>
						<li>
							<h6><a href="#">龙舌兰</a></h6>
						</li>
						<li>
							<h6><a href="#">配制酒</a></h6>
    						<div>
    							<a href="#">开胃酒</a>
    							<a href="#">利口酒</a>
    							<a href="#">力娇酒</a>
    						</div>
						</li>
						<li>
							<h6><a href="#">日韩酒</a></h6>
						</li>
						<li>
							<h6><a href="#">其他洋酒</a></h6>
						</li>
						<li style="border-bottom:0">
							<h6><a href="#">酒版</a></h6>
						</li>
					</ul>
					<ul class="rt_part fl">
						<li style="border-bottom:0">
							<h6>国家</h6>
							<div>
								<a href="#">其他</a>
								<a href="#">韩国</a>
								<a href="#">俄国</a>
								<a href="#">瑞典</a>
								<a href="#">荷兰</a>
								<a href="#">西班牙</a>
								<a href="#">日本</a>
								<a href="#">意大利</a>
								<a href="#">澳大利亚</a>
								<a href="#">法国</a>
								<a href="#">牙买加</a>
								<a href="#">波多黎各</a>
								<a href="#">爱尔兰</a>
								<a href="#">美国</a>
								<a href="#">法国</a>
							</div>
						</li>
					</ul>
				</li>
				<li class="item" style="height:200px;">
					<ul class="lt_part fl">
						<li>
							<h6><a href="#">进口啤酒</a></h6>
    						<div>
    							<a href="#">瓶装</a>
    							<a href="#">听装</a>
    							<a href="#">桶装</a>
    						</div>
						</li>
						<li style="border-bottom:0">
							<h6><a href="#">国产啤酒</a></h6>
    						<div>
    							<a href="#">瓶装</a>
    							<a href="#">听装</a>
    							<a href="#">桶装</a>
    						</div>
						</li>
					</ul>
					<ul class="rt_part fl">
						<li>
							<h6>国家</h6>
							<div>          
								<a href="#">其他</a>
								<a href="#">丹麦</a>
								<a href="#">日本</a>
								<a href="#">美国</a>
								<a href="#">中国</a>
								<a href="#">比利时</a>
								<a href="#">英国</a>
								<a href="#">澳大利亚</a>
								<a href="#">法国</a>
								<a href="#">荷兰</a>
								<a href="#">德国</a>
							</div>
						</li>
						<li style="border-bottom:0">
							<h6>按颜色</h6>
							<div>         
								<a href="#">红啤</a>
								<a href="#">白啤</a>
								<a href="#">黄啤</a>
								<a href="#">黑啤</a>
							</div>
						</li>
					</ul>
				</li>
				<li class="item" style="height:200px;">
					<ul class="lt_part fl">
						<li>
							<h6><a href="#">包装盒</a></h6>
						</li>
						<li>
							<h6><a href="#">酒刀</a></h6>
						</li>
						<li>
							<h6><a href="#">新潮酒柜</a></h6>
						</li>
						<li style="border-bottom:0">
							<h6><a href="#">酒杯</a></h6>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="banner">
			<div class="pics">
				<a href="###"><img src="images/yxgj/nav_banner_01.jpg" alt=""></a>
				<a href="liquorZone.php"><img src="images/yxgj/nav_banner_02.jpg" alt=""></a>
				<a href="wineZone.php"><img src="images/yxgj/nav_banner_03.jpg" alt=""></a>
				<a href="beiZone.php"><img src="images/yxgj/nav_banner_04.jpg" alt=""></a>
			</div>
			<ul id="dots"></ul>
		</div>
	</div>
	<script src="js/hxgj_banner.js"></script>
	<div class="container">
		<div class="wrapper">
			<div class="part_01 clearfix">
				<div class="lt_tab fl">
					<ul class="top_list clearfix">
						<li>逸香闪购</li>
						<li>大牌速达</li>
						<li>产地精品</li>
						<li>列级名庄</li>
						<li>整箱特惠</li>
					</ul>
					<ul class="bot_list">
						<li>
							<a href="goodsDetails.php"><img src="images/yxgj/bot_list_pics01.jpg" alt=""></a>
							<a href="goodsDetails.php"><img src="images/yxgj/bot_list_pics02.jpg" alt=""></a>
							<a href="goodsDetails.php"><img src="images/yxgj/bot_list_pics03.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics04.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics05.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics06.jpg" alt=""></a>
						</li>
						<li>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics01.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics02.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics03.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics04.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics05.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics06.jpg" alt=""></a>
						</li>
						<li>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics01.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics02.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics03.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics04.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics05.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics06.jpg" alt=""></a>
						</li>
						<li>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics01.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics02.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics03.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics04.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics05.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics06.jpg" alt=""></a>
						</li>
						<li>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics01.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics02.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics03.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics04.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics05.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics06.jpg" alt=""></a>
						</li>
						<li>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics01.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics02.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics03.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics04.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics05.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/bot_list_pics06.jpg" alt=""></a>
						</li>
					</ul>
				</div>
				<div class="rt_list fl">
					<div class="information">
						<ul class="top_tit clearfix">
							<li>公共信息</li>
							<li>促销信息</li>
						</ul>
						<ul class="bot_info" style="display:block">
							<li><a href="#">贪新恋旧大PK  ——1919国际葡萄酒节带您轻松品世界</a></li>
							<li><a href="#">红色魅惑的极致享受——浪漫葡萄酒庄之旅</a></li>
							<li><a href="#">婚宴用酒上的情感哲学</a></li>
							<li><a href="#">说说“西洋酒”在中华美酒中的历史地位</a></li>
							<li><a href="#">酒醉枫红的京都</a></li>
						</ul>
						<ul class="bot_info">
							<li><a href="#">贪新恋旧大PK  ——1919国际葡萄酒节带您轻松品世界</a></li>
							<li><a href="#">红色魅惑的极致享受——浪漫葡萄酒庄之旅</a></li>
							<li><a href="#">婚宴用酒上的情感哲学</a></li>
							<li><a href="#">说说“西洋酒”在中华美酒中的历史地位</a></li>
							<li><a href="#">酒醉枫红的京都</a></li>
						</ul>
					</div>
					<div class="sm_banner" id="sm_banner">
						<div class="arrows">
							<div class="lt_arrow"></div>
							<div class="rt_arrow"></div>
						</div>
						<div class="pics">
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/sm_banner_01.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/sm_banner_02.jpg" alt=""></a>
							<a href="goodsDetails.php"><img class="lazy" data-original="images/yxgj/sm_banner_03.jpg" alt=""></a>
						</div>
					</div>
					<div class="yhq_api">
						<a href="login.php"><img class="lazy" data-original="images/yxgj/yhq_api.jpg" alt=""></a>
					</div>
				</div>
			</div>
			<div class="part_02">
				<ul class="top_tit clearfix">
					<li class="active">葡萄酒<span></span></li>
					<li>洋酒<span></span></li>
					<li>啤酒<span></span></li>
				</ul>
				<ul class="bot_list">
					<li style="display:block">
						<a class="bgPics" href="">
							<img class="lazy" data-original="images/yxgj/ptj_p01.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a class="bgPics" href="">
							<img class="lazy" data-original="images/yxgj/ptj_p02.png" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a class="bgPics" href="">
							<img class="lazy" data-original="images/yxgj/ptj_p03.png" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/ptj_p04.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/ptj_p05.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/ptj_p06.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/ptj_p07.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/ptj_p08.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/ptj_p09.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/ptj_p10.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/ptj_p11.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/ptj_p12.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>

						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/ptj_p13.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>

						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/ptj_p14.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>

						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/ptj_p15.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>

						</a>
					</li>
					<li>
						<a class="bgPics" href="">
							<img class="lazy" data-original="images/yxgj/yj_p01.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a class="bgPics" href="">
							<img class="lazy" data-original="images/yxgj/yj_p02.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a class="bgPics" href="">
							<img class="lazy" data-original="images/yxgj/yj_p03.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/yj_p04.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/yj_p05.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/yj_p06.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/yj_p07.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/yj_p08.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/yj_p09.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/yj_p10.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/yj_p11.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/yj_p12.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/yj_p13.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/yj_p14.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/yj_p15.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
					</li>
					<li>
						<a class="bgPics" href="">
							<img class="lazy" data-original="images/yxgj/pj_p01.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a class="bgPics" href="">
							<img class="lazy" data-original="images/yxgj/pj_p02.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a class="bgPics" href="">
							<img class="lazy" data-original="images/yxgj/pj_p03.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/pj_p04.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/pj_p05.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/pj_p06.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/pj_p07.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/pj_p08.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/pj_p09.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/pj_p10.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/pj_p11.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/pj_p05.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/pj_p06.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/pj_p07.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
						<a  class="smPics" href="">
							<img class="lazy" data-original="images/yxgj/pj_p08.jpg" alt="">
							<div class="view">
								<div class="box"></div>
								<div class="txt">
									<p>拉菲</p>
									<span class="tolink">进店看看</span>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="part_03">
				<div class="ptj_floor">
					<div class="top_tit clearfix">
						<h3><span></span>葡萄酒</h3>
						<ul class="top_list fr">
							<li><a href="#">法国葡萄酒</a></li>
							<li><a href="#">德国葡萄酒</a></li>
							<li><a href="#">美国葡萄酒</a></li>
							<li><a href="#">西班牙葡萄酒</a></li>
							<li><a href="#">澳大利亚葡萄酒</a></li>
							<li><a href="#">智利葡萄酒</a></li>
							<li><a href="#">南非葡萄酒</a></li>
							<li><a href="#">阿根廷葡萄酒</a></li>
							<li class="last"><a href="wineZone.php">更多>></a></li>
						</ul>
					</div>
					<div class="bot_item clearfix">
						<div class="lt_tab fl">
							<div class="pics">
								<img class="lazy" data-original="images/yxgj/ptj_fl01.jpg" alt="">
								<img class="lazy" data-original="images/yxgj/ptj_fl02.jpg" alt="">
							</div>
							<ul class="dots clearfix">
								<li class="active"></li>
								<li></li>
							</ul>
						</div>
						<div class="mid_list fl">
							<div>
								<h6><a href="goodsDetails.php">玛歌酒庄2010红葡萄酒750ML</a></h6>
								<p><span>￥14278.80 </span><del>￥14278.80</del></p>
								<img class="lazy" data-original="images/yxgj/ptj_fl01.jpg" alt="">
							</div>
							<div>
								<h6><a href="goodsDetails.php">拉菲庄干红副牌葡萄酒（罗斯柴尔德伯爵庄园）750ML</a></h6>
								<p><span>￥14278.80 </span><del>￥14278.80</del></p>
								<img class="lazy" data-original="images/yxgj/ptj_fl02.jpg" alt="">
							</div>
							<div>
								<h6><a href="goodsDetails.php">欧颂古堡圣爱美浓法定产区红葡萄酒2007年</a></h6>
								<p><span>￥17440.80 </span><del>￥17440.80</del></p>
								<img class="lazy" data-original="images/yxgj/ptj_fl03.jpg" alt="">
							</div>
							<div>
								<h6><a href="goodsDetails.php">莎都拉菲城堡普伊勒法定产区干红（大拉菲）葡萄酒1999</a></h6>
								<p><span>￥22665.60 </span><del>￥22665.60</del></p>
								<img class="lazy" data-original="images/yxgj/ptj_fl04.jpg" alt="">
							</div>
							<div>
								<h6><a href="goodsDetails.php">嘉雅芭芭罗斯保证法定产区干红葡萄酒750ML</a></h6>
								<p><span>￥30382.80 </span><del>￥30382.80</del></p>
								<img class="lazy" data-original="images/yxgj/ptj_fl05.jpg" alt="">
							</div>
							<div>
								<h6><a href="goodsDetails.php">布里翁高地古堡贝沙克雷奥兰法定产区干红葡 750ml</a></h6>
								<p><span>￥21360.00 </span><del>￥21360.00</del></p>
								<img class="lazy" data-original="images/yxgj/ptj_fl06.jpg" alt="">
							</div>
						</div>
						<div class="rt_hotItem fl">
							<h4>本周热销</h4>
							<ul>
								<li>
									<h5><span>1</span>玛歌酒庄2010红葡萄酒750ML</h5>
									<div>
										<span>1</span>
										<img class="lazy" data-original="images/yxgj/ptj_fl01.jpg" alt="">
										<a href="goodsDetails.php">玛歌酒庄2010红葡萄酒750ML</a>
										<p>已售出<b>0</b></p>
										<p class="price">￥14278.80</p>
									</div>
								</li>
								<li>
									<h5><span>2</span>拉菲庄干红副牌葡萄酒（罗斯柴尔德伯爵庄园）750ML</h5>
									<div>
										<span>2</span>
										<img class="lazy" data-original="images/yxgj/ptj_fl01.jpg" alt="">
										<a href="goodsDetails.php">拉菲庄干红副牌葡萄酒（罗斯柴尔德伯爵庄园）750ML</a>
										<p>已售出<b>0</b></p>
										<p class="price">￥14278.80</p>
									</div>
								</li>
								<li>
									<h5><span>3</span>欧颂古堡圣爱美浓法定产区红葡萄酒2007年</h5>
									<div>
										<span>3</span>
										<img class="lazy" data-original="images/yxgj/ptj_fl01.jpg" alt="">
										<a href="goodsDetails.php">欧颂古堡圣爱美浓法定产区红葡萄酒2007年</a>
										<p>已售出<b>0</b></p>
										<p class="price">￥17440.80</p>
									</div>
								</li>
								<li>
									<h5><span>4</span>嘉雅芭芭罗斯保证法定产区干红葡萄酒750ML</h5>
									<div>
										<span>4</span>
										<img class="lazy" data-original="images/yxgj/ptj_fl01.jpg" alt="">
										<a href="goodsDetails.php">嘉雅芭芭罗斯保证法定产区干红葡萄酒750ML</a>
										<p>已售出<b>0</b></p>
										<p class="price">￥30382.80</p>
									</div>
								</li>
								<li>
									<h5><span>5</span>布里翁高地古堡贝沙克雷奥兰法定产区干红葡 750ml</h5>
									<div>
										<span>5</span>
										<img class="lazy" data-original="images/yxgj/ptj_fl01.jpg" alt="">
										<a href="goodsDetails.php">布里翁高地古堡贝沙克雷奥兰法定产区干红葡 750ml</a>
										<p>已售出<b>0</b></p>
										<p class="price">￥21360.00</p>
									</div>
								</li>
								<li>
									<h5><span>6</span>拉菲城堡2006干红葡萄酒750ML</h5>
									<div>
										<span>6</span>
										<img class="lazy" data-original="images/yxgj/ptj_fl01.jpg" alt="">
										<a href="goodsDetails.php">拉菲城堡2006干红葡萄酒750ML</a>
										<p>已售出<b>0</b></p>
										<p class="price">￥16702.80</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="yj_floor">
					<div class="top_tit clearfix">
						<h3><span></span>洋酒精选区</h3>
						<ul class="top_list fr">
							<li><a href="#">白兰地</a></li>
							<li><a href="#">伏特加</a></li>
							<li><a href="#">杜松子酒</a></li>
							<li><a href="liquorZone.php" style="border-right:none;padding-right:0;">更多>></a></li>
						</ul>
					</div>
					<div class="bot_item clearfix">
						<div class="lt_tab fl">
							<div class="pics">
								<img class="lazy" data-original="images/yxgj/yj_fl01.jpg" alt="">
								<img class="lazy" data-original="images/yxgj/yj_fl02.jpg" alt="">
							</div>
							<ul class="dots clearfix">
								<li class="active"></li>
								<li></li>
							</ul>
						</div>
						<div class="mid_list fl">
							<div>
								<h6><a href="goodsDetails.php">40度尊尼获加蓝牌创始纪念版威士忌750ML</a></h6>
								<p><span>￥28200.00 </span><del>￥28200.00</del></p>
								<img class="lazy" data-original="images/yxgj/yj_fl01.jpg" alt="">
							</div>
							<div>
								<h6><a href="goodsDetails.php">44.3度格兰菲迪40年单一纯麦威士忌700ML</a></h6>
								<p><span>￥35998.80 </span><del>￥35998.80</del></p>
								<img class="lazy" data-original="images/yxgj/yj_fl02.jpg" alt="">
							</div>
							<div>
								<h6><a href="goodsDetails.php">拉菲传世干邑白兰地700ML</a></h6>
								<p><span>￥16560.00 </span><del>￥16560.00</del></p>
								<img class="lazy" data-original="images/yxgj/yj_fl03.jpg" alt="">
							</div>
							<div>
								<h6><a href="goodsDetails.php">逸香国际 法国轩尼诗李察干邑白兰地700ml原装正品洋酒烈酒</a></h6>
								<p><span>￥25495.00 </span><del>￥25495.00</del></p>
								<img class="lazy" data-original="images/yxgj/yj_fl04.jpg" alt="">
							</div>
							<div>
								<h6><a href="goodsDetails.php">尚·马爹利干邑700ML</a></h6>
								<p><span>￥32866.80 </span><del>￥32866.80</del></p>
								<img class="lazy" data-original="images/yxgj/yj_fl05.jpg" alt="">
							</div>
							<div>
								<h6><a href="goodsDetails.php">46.1度格兰菲迪50年单一纯麦威士忌700ML</a></h6>
								<p><span>￥180000.00 </span><del>￥180000.00</del></p>
								<img class="lazy" data-original="images/yxgj/yj_fl06.jpg" alt="">
							</div>
						</div>
						<div class="rt_hotItem fl">
							<h4>本周热销</h4>
							<ul>
								<li>
									<h5><span>1</span>40度尊尼获加蓝牌创始纪念版威士忌750ML</h5>
									<div>
										<span>1</span>
										<img class="lazy" data-original="images/yxgj/yj_fl01.jpg" alt="">
										<a href="goodsDetails.php">40度尊尼获加蓝牌创始纪念版威士忌750ML</a>
										<p>已售出<b>0</b></p>
										<p class="price">￥28200.00</p>
									</div>
								</li>
								<li>
									<h5><span>2</span>44.3度格兰菲迪40年单一纯麦威士忌700ML</h5>
									<div>
										<span>2</span>
										<img class="lazy" data-original="images/yxgj/yj_fl01.jpg" alt="">
										<a href="goodsDetails.php">44.3度格兰菲迪40年单一纯麦威士忌700ML</a>
										<p>已售出<b>0</b></p>
										<p class="price">￥35998.80</p>
									</div>
								</li>
								<li>
									<h5><span>3</span>拉菲传世干邑白兰地700ML</h5>
									<div>
										<span>3</span>
										<img class="lazy" data-original="images/yxgj/ptj_fl01.jpg" alt="">
										<a href="goodsDetails.php">拉菲传世干邑白兰地700ML</a>
										<p>已售出<b>0</b></p>
										<p class="price">￥16560.00</p>
									</div>
								</li>
								<li>
									<h5><span>4</span>逸香国际 法国轩尼诗李察干邑白兰地700ml原装正品洋酒烈酒</h5>
									<div>
										<span>4</span>
										<img class="lazy" data-original="images/yxgj/ptj_fl01.jpg" alt="">
										<a href="goodsDetails.php">逸香国际 法国轩尼诗李察干邑白兰地700ml原装正品洋酒烈酒</a>
										<p>已售出<b>0</b></p>
										<p class="price">￥25495.00</p>
									</div>
								</li>
								<li>
									<h5><span>5</span>尚·马爹利干邑700ML</h5>
									<div>
										<span>5</span>
										<img class="lazy" data-original="images/yxgj/ptj_fl01.jpg" alt="">
										<a href="goodsDetails.php">尚·马爹利干邑700ML</a>
										<p>已售出<b>0</b></p>
										<p class="price">￥32866.80</p>
									</div>
								</li>
								<li>
									<h5><span>6</span>46.1度格兰菲迪50年单一纯麦威士忌700ML</h5>
									<div>
										<span>6</span>
										<img class="lazy" data-original="images/yxgj/ptj_fl01.jpg" alt="">
										<a href="goodsDetails.php">46.1度格兰菲迪50年单一纯麦威士忌700ML</a>
										<p>已售出<b>0</b></p>
										<p class="price">￥180000.00</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="pj_floor">
					<div class="top_tit clearfix">
						<h3><span></span>啤酒精品区</h3>
						<ul class="top_list fr">
							<li><a href="#">1664</a></li>
							<li><a href="#">百威</a></li>
							<li><a href="#">柏龙</a></li>
							<li><a href="#">科罗娜</a></li>
							<li><a href="#">凯撒</a></li>
							<li><a href="beiZone.php" style="border-right:none;padding-right:0;">更多>></a></li>
						</ul>
					</div>
					<div class="bot_item clearfix">
						<div class="lt_tab fl">
							<div class="pics">
								<img class="lazy" data-original="images/yxgj/yj_fl01.jpg" alt="">
								<img class="lazy" data-original="images/yxgj/yj_fl02.jpg" alt="">
							</div>
							<ul class="dots clearfix">
								<li class="active"></li>
								<li></li>
							</ul>
						</div>
						<div class="mid_list fl">
							<div>
								<h6><a href="goodsDetails.php">40度尊尼获加蓝牌创始纪念版威士忌750ML</a></h6>
								<p><span>￥28200.00 </span><del>￥28200.00</del></p>
								<img class="lazy" data-original="images/yxgj/yj_fl01.jpg" alt="">
							</div>
							<div>
								<h6><a href="goodsDetails.php">44.3度格兰菲迪40年单一纯麦威士忌700ML</a></h6>
								<p><span>￥35998.80 </span><del>￥35998.80</del></p>
								<img class="lazy" data-original="images/yxgj/yj_fl02.jpg" alt="">
							</div>
							<div>
								<h6><a href="goodsDetails.php">拉菲传世干邑白兰地700ML</a></h6>
								<p><span>￥16560.00 </span><del>￥16560.00</del></p>
								<img class="lazy" data-original="images/yxgj/yj_fl03.jpg" alt="">
							</div>
							<div>
								<h6><a href="goodsDetails.php">逸香国际 法国轩尼诗李察干邑白兰地700ml原装正品洋酒烈酒</a></h6>
								<p><span>￥25495.00 </span><del>￥25495.00</del></p>
								<img class="lazy" data-original="images/yxgj/yj_fl04.jpg" alt="">
							</div>
							<div>
								<h6><a href="goodsDetails.php">尚·马爹利干邑700ML</a></h6>
								<p><span>￥32866.80 </span><del>￥32866.80</del></p>
								<img class="lazy" data-original="images/yxgj/yj_fl05.jpg" alt="">
							</div>
							<div>
								<h6><a href="goodsDetails.php">46.1度格兰菲迪50年单一纯麦威士忌700ML</a></h6>
								<p><span>￥180000.00 </span><del>￥180000.00</del></p>
								<img class="lazy" data-original="images/yxgj/yj_fl06.jpg" alt="">
							</div>
						</div>
						<div class="rt_hotItem fl">
							<h4>本周热销</h4>
							<ul>
								<li>
									<h5><span>1</span>40度尊尼获加蓝牌创始纪念版威士忌750ML</h5>
									<div>
										<span>1</span>
										<img class="lazy" data-original="images/yxgj/yj_fl01.jpg" alt="">
										<a href="goodsDetails.php">40度尊尼获加蓝牌创始纪念版威士忌750ML</a>
										<p>已售出<b>0</b></p>
										<p class="price">￥28200.00</p>
									</div>
								</li>
								<li>
									<h5><span>2</span>44.3度格兰菲迪40年单一纯麦威士忌700ML</h5>
									<div>
										<span>2</span>
										<img class="lazy" data-original="images/yxgj/yj_fl01.jpg" alt="">
										<a href="goodsDetails.php">44.3度格兰菲迪40年单一纯麦威士忌700ML</a>
										<p>已售出<b>0</b></p>
										<p class="price">￥35998.80</p>
									</div>
								</li>
								<li>
									<h5><span>3</span>拉菲传世干邑白兰地700ML</h5>
									<div>
										<span>3</span>
										<img class="lazy" data-original="images/yxgj/ptj_fl01.jpg" alt="">
										<a href="goodsDetails.php">拉菲传世干邑白兰地700ML</a>
										<p>已售出<b>0</b></p>
										<p class="price">￥16560.00</p>
									</div>
								</li>
								<li>
									<h5><span>4</span>逸香国际 法国轩尼诗李察干邑白兰地700ml原装正品洋酒烈酒</h5>
									<div>
										<span>4</span>
										<img class="lazy" data-original="images/yxgj/ptj_fl01.jpg" alt="">
										<a href="goodsDetails.php">逸香国际 法国轩尼诗李察干邑白兰地700ml原装正品洋酒烈酒</a>
										<p>已售出<b>0</b></p>
										<p class="price">￥25495.00</p>
									</div>
								</li>
								<li>
									<h5><span>5</span>尚·马爹利干邑700ML</h5>
									<div>
										<span>5</span>
										<img class="lazy" data-original="images/yxgj/ptj_fl01.jpg" alt="">
										<a href="goodsDetails.php">尚·马爹利干邑700ML</a>
										<p>已售出<b>0</b></p>
										<p class="price">￥32866.80</p>
									</div>
								</li>
								<li>
									<h5><span>6</span>46.1度格兰菲迪50年单一纯麦威士忌700ML</h5>
									<div>
										<span>6</span>
										<img class="lazy" data-original="images/yxgj/ptj_fl01.jpg" alt="">
										<a href="goodsDetails.php">46.1度格兰菲迪50年单一纯麦威士忌700ML</a>
										<p>已售出<b>0</b></p>
										<p class="price">￥180000.00</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="pj_floor">
					<div class="top_tit clearfix">
						<h3><span></span>酒杯酒具精品区</h3>
						<ul class="top_list fr">
							<li><a href="#" style="border-right:none;padding-right:0;">更多>></a></li>
						</ul>
					</div>
					<div class="bot_item clearfix">
						<div class="lt_tab fl">
							<div class="pics">
								<img class="lazy" data-original="images/yxgj/yj_fl01.jpg" alt="">
								<img class="lazy" data-original="images/yxgj/yj_fl02.jpg" alt="">
							</div>
							<ul class="dots clearfix">
								<li class="active"></li>
								<li></li>
							</ul>
						</div>
						<div class="mid_list fl">
							<div>
								<h6><a href="goodsDetails.php">葡萄酒柜V120SGB</a></h6>
								<p><span>￥17800.00 </span><del>￥17800.00</del></p>
								<img class="lazy" data-original="images/yxgj/pj_fl01.jpg" alt="">
							</div>
						</div>
						<div class="rt_hotItem fl">
							<h4>本周热销</h4>
							<ul>
								<li>
									<h5><span>1</span>葡萄酒柜V120SGB</h5>
									<div>
										<span>1</span>
										<img class="lazy" data-original="images/yxgj/yj_fl01.jpg" alt="">
										<a href="goodsDetails.php">40度尊尼获加蓝牌创始纪念版威士忌750ML</a>
										<p>已售出<b>0</b></p>
										<p class="price">￥17800.00</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="linkHtml">
		<div class="wrapper">
			<ul class="topLink clearfix">
				<li>
					<h4>购物指南</h4>
					<div>
						<a href="http://www.wine.cn/index.php/article-bangzhuzhongxin_gouwuzhinan-547.php">付款方式</a>
						<a href="http://www.wine.cn/index.php/article-bangzhuzhongxin_gouwuzhinan-548.php">购物保障</a>
						<a href="http://www.wine.cn/index.php/article-bangzhuzhongxin_gouwuzhinan-549.php">发票说明</a>
						<a href="http://www.wine.cn/index.php/article-bangzhuzhongxin_gouwuzhinan-550.php">支付问题解答</a>
					</div>
				</li>
				<li>
					<h4>配送说明</h4>
					<div>
						<a href="http://www.wine.cn/index.php/article-bangzhuzhongxin_peisongshuoming-551.php">配送时间</a>
						<a href="http://www.wine.cn/index.php/article-bangzhuzhongxin_peisongshuoming-552.php">配送费用</a>
						<a href="http://www.wine.cn/index.php/article-bangzhuzhongxin_peisongshuoming-553.php">配送范围</a>
					</div>
				</li>
				<li>
					<h4>售后服务</h4>
					<div>
						<a href="http://www.wine.cn/index.php/article-bangzhuzhongxin_shouhousuwu-554.php">品质保障</a>
						<a href="http://www.wine.cn/index.php/article-bangzhuzhongxin_shouhousuwu-555.php">退换货流程</a>
						<a href="http://www.wine.cn/index.php/article-bangzhuzhongxin_shouhousuwu-557.php">质询投诉</a>
						<a href="http://www.wine.cn/index.php/article-bangzhuzhongxin_shouhousuwu-558.php">立即送</a>
					</div>
				</li>
				<li>
					<h4>活动公告</h4>
					<div>
						<a href="http://www.wine.cn/index.php/article-huodonggonggao-1113.php">公司简介草稿</a>
						<a href="http://www.wine.cn/index.php/article-huodonggonggao-1013.php">【往期活动】找个男神女神来脱单(七夕美酒抢不停）爱在哪里，美酒就送到哪里！</a>
						<a href="http://www.wine.cn/index.php/article-huodonggonggao-1011.php">【往期活动】“七夕随手拍”晒甜蜜幸福，赢美酒大礼1919陪你一起过七夕</a>
						<a href="http://www.wine.cn/index.php/article-huodonggonggao-995.php">【往期活动】冰镇美酒，冰爽到家-1919冰饮节爽快一夏</a>
						<a href="http://www.wine.cn/index.php/article-huodonggonggao-985.php">【往期活动】巅峰对决,倾尽全力</a>
					</div>
				</li>
				<li>
					<h4>进口酒产区文化</h4>
					<div>
						<a href="http://www.wine.cn/index.php/article-goujiuzhinan-694.php">贪新恋旧大PK ——1919国际葡萄酒节带您轻松品世界</a>
						<a href="http://www.wine.cn/index.php/article-goujiuzhinan-687.php">红色魅惑的极致享受——浪漫葡萄酒庄之旅</a>
						<a href="http://www.wine.cn/index.php/article-goujiuzhinan-681.php">婚宴用酒上的情感哲学</a>
						<a href="http://www.wine.cn/index.php/article-goujiuzhinan-680.php">说说“西洋酒”在中华美酒中的历史地位</a>
						<a href="http://www.wine.cn/index.php/article-goujiuzhinan-679.php">酒醉枫红的京都</a>
					</div>
				</li>
				<li class="last">
					<h4>关于我们</h4>
					<div>
						<a href="http://www.wine.cn/index.php/article-bangzhuzhongxin_guanyuwomen-1059.php">岗位招聘</a>
						<a href="http://www.wine.cn/index.php/article-bangzhuzhongxin_guanyuwomen-545.php">公司简介</a>
						<a href="http://www.wine.cn/index.php/article-bangzhuzhongxin_guanyuwomen-893.php">1919总部图片</a>
						<a href="http://www.wine.cn/index.php/article-bangzhuzhongxin_guanyuwomen-546.php">客户服务</a>
						<a href="http://www.wine.cn/index.php/article-bangzhuzhongxin_guanyuwomen-67.php">门店查询</a>
					</div>
				</li>
			</ul>
			<ul class="botLink clearfix">
				<li><a href="index.php">1919酒类直供</a></li>
				<li><a href="http://weibo.com/openthebottle">逸香国际官方微博</a></li>
				<li><a href="wineZone.php">红酒推荐</a></li>
				<li class="last"><a href="http://mall.jd.com/index-638829.php">逸香酒类旗舰店-京东店</a></li>
			</ul>
			<div class="totop" id="totop"></div>
		</div>
	</div>
	<div class="footer clearfix">
		<div class="wrapper">
			<div class="top">
				<a href="http://www.1919.cn/index.php/article-bangzhuzhongxin_guanyuwomen-545.php">公司简介</a>
				<a href="http://www.1919.cn/index.php/article-huodonggonggao-l-10.php">活动公告</a>
				<a href="http://www.1919.cn/index.php/article-meitibaodao-l-11.php">媒体报道</a>
				<a class="last" href="购酒指南">购酒指南</a>
			</div>
			<p>购买的时候请确认达到法定饮酒年龄！逸香国际不销售含酒精产品给18岁以下人士！</p>
			<div class="linkPics">
				<a href="http://www.1919.cn/index.php/gallery.php?scontent=n,%E9%95%BF%E5%9F%8EBlues%E8%A7%A3%E7%99%BE%E7%BA%B3%E5%B9%B2%E7%BA%A2%E8%91%A1%E8%90%84%E9%85%92"><img class="lazy" data-original="images/yxgj/footer_pics_01.png" height="45" width="122" alt=""></a>
				<a href="http://pinggu.zx110.org/checkWebsite.do?lt=1&wd=www.1919.cn"><img class="lazy" data-original="images/yxgj/footer_pics_02.png" height="45" width="122" alt=""></a>
			</div>
			<p class="copy_right">ⓒ 2009-1919.cn ALL Rights Reserved 蜀ICP备17000822号</p>
			<div class="zz_tj">
				<a href="###"><img class="lazy" data-original="images/yxgj/zz_tj.gif" height="12" width="50" alt=""></a>
				<a href="###">站长统计</a>
				<a href="###">站长统计</a>
				<a href="###">站长统计</a>
				<a href="###">站长统计</a>
				<a href="###">站长统计</a>
				<a href="###">站长统计</a>
				<a href="###">站长统计</a>
			</div>
			<p class="num">蜀ICP备17000822号</p>
		</div>
	</div>
	<div class="foot_link wrapper">
		<a href="###">法国葡萄酒</a>
		<a href="###">德国葡萄酒</a>
		<a href="###">美国葡萄酒</a>
		<a href="###">西班牙葡萄酒</a>
		<a href="###">澳大利亚葡萄酒</a>
		<a href="###">智利葡萄酒</a>
		<a href="###">南非葡萄酒</a>
		<a class="last" href="###">阿根廷葡萄酒</a>
	</div>
</body>
<script src="js/yxgj.js"></script>
<script>
	$("img.lazy").lazyload({
		threshold:150,
		effect:"show",
		failure_limit : 20
	});
</script>
</html>